[2016-10-27 23:08] Roguelazer opened #2 "[feature request] allow passing in output of `pip freeze`"
It would be cool if we could use this tool without having to install it (and its dependencies) into a virtualenv. I'm thinking something like `/path/to/questionable/virtualenv/bin/pip freeze | safety check --stdin`. Thoughts?

[2016-10-28 06:36] dveeden commented on #2
Maybe just parse and check the `requirements.txt`?

[2016-10-28 06:43] dveeden opened #3 "Can't install safety for python2 and python3 properly."
- safety version: 0.2.2
- Python version: 2.7.12 and 3.5.1
- Operating System: Fedora 24
### Description

Installing safety not in a venv, but on the system for both python2 and python3 results in the /usr/bin/safety file to be overwritten
### What I did

[code]

The hashbang contains the python version for which safety was last installed.

[2016-10-28 09:29] Roguelazer commented on #2
That wouldn't necessarily pick up transitive dependencies.
--
James Brown,
currently mobile

[2016-10-28 10:38] jayfk commented on #2
I think `--stdin` is the way to go here. This let's you read everything that fits into a pipe.

[code]

Make sure to upgrade to `0.3.0` and check it out.

[2016-10-28 10:38] #2 closed

[2016-10-28 10:44] jayfk commented on #3
I don't know if there's a way around this. Do you have any information about what `/usr/bin/safety` does in fedora?

[2016-11-04 03:50] Roguelazer commented on #2
Thanks! Works perfectly!

[2016-11-05 20:16] andrei-shabanski opened #6 "Nested requirements.txt files are not processed"
* safety version:0.3.0
* Python version:3.5.1
* Operating System: Ubuntu 16.04

### Description

`safery` can't handle nested requirements.txt files.

### What I Did

Example, there are 3 files: main.txt, dev.txt, requirements.txt:

* main.txt

[code]

* dev.txt

[code]

* requirements.txt

[code]

Run safety:

[code]

[2016-11-05 20:39] andrei-shabanski opened #7 "Handle packages which have been install from a variety of VCS"
safety version:0.3.0
Python version:3.5.1
Operating System: Ubuntu 16.04

### Description

`safery` can't handle `requirements.txt` with packages which have been installed from VCS directly.

### What I Did

requirements.txt:

[code]

Run safety:

[code]

[2016-11-07 13:54] Lucas-C opened #10 "pre-commit hook"
Hi,

This is just to let you know that I developped a [pre-commit hook](http://pre-commit.com) based on your lib:
https://github.com/Lucas-C/pre-commit-hooks-safety

It is not yet fully functional : a small limitation in `pre-commit` is a blocker, but I intend to fix it in this issue:
https://github.com/pre-commit/pre-commit/issues/426

[2016-11-07 14:32] Lucas-C commented on #10
Alternatively, is there a way to analyze a single requirements file instead of the whole current environment ?

[2016-11-07 14:39] jayfk commented on #10
Thanks @Lucas-C, that's awesome. You can read a single file from stdin using the `--stdin` flag, although I'm not quite sure it this will work in this context.

Also, there's a [small bug](https://github.com/pyupio/safety/issues/6) right now using stdin. I'm going to fix that next.

[2016-11-07 15:37] jayfk commented on #7
safety now filters out requirements that are installed directly from git.

[2016-11-07 15:37] #7 closed

[2016-11-07 15:44] jayfk commented on #6
This should no longer throw an exception with `0.4.0`.

Resolving other requirement files is a bit tricky when reading from stdin. There's just no reliable way to tell where the referenced requirements files are.

They could be in the current working directory, but we can't be sure about that.

[2016-11-07 15:52] jayfk commented on #10
FYI: I've added the pre-commit hook to the [README](https://github.com/pyupio/safety-db/blob/master/README.md).

Also, since this is super useful: Is there some way `safety` could make that easier in general? Are you able to run arbitrary Python code with the commit hook? Maybe we could just add a function to `safety` to support this better.

[2016-11-07 16:02] Lucas-C commented on #10
The `--from-file` suggestion from https://github.com/pyupio/safety/issues/6 sounds great !
It would be even cleaner than a workaround in pre-commit/pre-commit#426

[2016-11-07 19:27] Lucas-C commented on #10
To have a perfectly seamless integration with `pre-commit`, a CLI option like this would be the best:
[code]

This way, the `python-safety-dependencies-check` hook could be configured to only run when `requirements` files are modified, and thoses files would be passed to the `safety` command.

[2016-11-07 20:22] asottile opened #11 "Input filenames instead of --stdin"
`--stdin` is rather inflexible in that it requires a shell or other means of piping data to the executable.

I'm proposing a `--input-file` which works similarly but obsoletes `--stdin`

`cat requirements.txt | safety --stdin` becomes `safety -- requirements.txt`

`echo 'x==1' | safety --stdin` becomes `echo 'x==1' | safety -- /dev/stdin`

etc.

[2016-11-08 09:59] jayfk commented on #6
That's now in `0.5.0`.

Running
[code]
will now check a requirements file and resolve all referenced files.

People are pretty familiar with the `-r` option from pip, so I've used that here too. Optionally, it's also possible to use `--file`.

[2016-11-08 09:59] #6 closed

[2016-11-08 10:00] jayfk commented on #10
Could you check #6 if that solves the problem?

[2016-11-08 10:01] jayfk commented on #11
I think there's a place for both, reading from stdin and from a file. I've added an `-r` option that behaves just like pips `pip install -r requirements.txt` and resolves referenced files.

[2016-11-08 10:01] #11 closed

[2016-11-08 10:37] jayfk commented on #3
I've just installed safety in a fresh Fedora 24 VM and couldn't reproduce the problem.

[2016-11-08 11:59] Lucas-C commented on #10
Looks perfect ! I just added a couple of comments to the commit: https://github.com/pyupio/safety/commit/2884da8c

[2016-11-08 16:29] asottile commented on #11
Why have two ways to do it?

`--stdin` does the same as `-r /dev/stdin` right?

[2016-11-08 16:35] jayfk commented on #11
No, `-r` also tries to read referenced files.

If you have a requirements.txt like this:

[code]

and you read that from stdin, you have no way to tell where `main.txt` is located.

If you read in the file and have a file path, you can resolve `main.txt` and read that too.

[2016-11-08 16:48] asottile commented on #11
I don't see how that's different between `--stdin` and `-r /dev/stdin`?  They'll both equally be unable to locate files that contain `-r`.

[2016-11-08 16:56] jayfk commented on #11
Yup. The difference is that `--stdin` don't even tries to read them. Really, it's just a minor thing.

[2016-11-08 17:55] asottile commented on #11
At least with unix tools, they strive to make things not have two-ways-to-do-things, the primary reason I opened this ticket :)

[2016-11-09 08:26] Lucas-C commented on #10
Closing this: the hook now works perfectly, even with multiple requirements in a repo.

[2016-11-09 08:26] #10 closed

[2016-11-23 10:41] Lucas-C opened #18 "Support for URLs in input requirements.txt files"
Hi,

This is a feature request.

Lets start by stating that, following the spec, URLs to tarballs are part of the requirements file format
https://pip.readthedocs.io/en/1.1/requirements.html#requirements-file-format

Now, the `pkg_resources.parse_requirements` function used by `safety` does not support them:
https://github.com/pypa/setuptools/blob/master/pkg_resources/__init__.py#L2850
It raises a

[2016-11-25 08:40] jayfk commented on #18
`safety` just needs:
 - a package name
 - the exact version that is going to be installed

It's possible to add the package name to the URL via `#egg=`.

What about the version? If there is a reliable way to get it, `safety` should probably support that.

[2016-11-25 08:41] jayfk commented on #18
In all cases, `safety` shouldn't fail with an error.

[2016-11-25 12:49] Lucas-C commented on #18
I just did a quick test and adding the `#egg=` URL suffix does not help:
[code]

[2016-11-28 16:12] jayfk commented on #18
Yeah, that doesn't work.

I should've made this clearer in my previous comment: `safety` should support every input as long as it's possible to parse the exact version and the package name.

Currently it only supports the requirements.txt syntaxt with `package-name==version`.

[2016-12-01 14:03] ktosiek opened #20 "[feature request] Ignore specific versions"
It would be nice to be able to opt out of specific affected versions - for example, Django 1.8.16 has vulnerabilities that a lot of users won't be affected by.
I'd like to ignore this specific vulnerabilities, but still get informed about others when they are added to safety-db.

[2016-12-05 13:41] ktosiek opened #22 "UnicodeEncodeError"
* safety version: 0.5.1
* Python version: 2.7.6
* Operating System: Ubuntu 14.04 LTS

### Description

Full report with non-ascii data causes UnicodeEncodeError

### What I Did

[code]

[2017-02-15 10:27] jayvdb opened #35 "Depend on setuptools >=16 for consistent exceptions"
* safety version: 0.5.1 & master
* Python version: 3.4
* Operating System: Fedora 25

### Description

safety implicitly depends on setuptools, by way of `from setuptools import setup` in the `setup.py`, however `pkg_resources.parse_requirements` was [introduced](https://github.com/pypa/setuptools/commit/6d3753cc8d96814a) is only in setuptools 0.6, which is luckily just before [Ubuntu precise pyth

[2017-02-25 20:29] maratsh commented on #22
I have same error.

[2017-02-27 12:27] chowmean opened #38 "Fails when there is any package info from git."
* safety version: Latest
* Python version: 2.7
* Operating System: MACOS

### Description

I was try to run safety and it fails cause there were entries which contains something like 'git+git...'
in requirements.lock

[code]

### What we can do
We can put the version check in try catch maybe.

[2017-02-28 15:45] jayfk commented on #35
Thanks, fixed in  b9551f1

[2017-02-28 15:45] #35 closed

[2017-03-08 20:53] ye commented on #18
I agree with @Lucas-C that `safety` should support pip requirements file format fully to include URL to tarballs/compressed archives like what @jayfk mentioned with the help of `#egg` URL anchor to indicate a package name and exact version. At the very minimum, `safety` should NOT spit out stack trace when it sees URLs in the pip file or any invalid pip package entries.

One of the use case for me

[2017-03-08 21:18] ye commented on #18
It appears that safety check after package installed could be a workaround for now. That is, the `pip freeze | safety check --stdin` approach works as pip freeze outputs package names and versions regardless what package sources are specified in the `requirements.txt`.

[2017-03-10 10:53] jayfk commented on #18
I'm going to work on this today. Do you have additional files/requirements that are not working to date?

I'd like to build up a strong testcase to support most of them.

[2017-03-10 16:32] jayfk commented on #38
This should be fixed in https://github.com/pyupio/safety/commit/f51f05b08842c9ce4322d05d644500dbb8458673. Could you try to update safety to the latest release and run it again?

[2017-03-10 16:32] #38 closed

[2017-03-10 16:33] jayfk commented on #18
Okay, most of this should work thanks to https://github.com/pyupio/safety/commit/f51f05b08842c9ce4322d05d644500dbb8458673.

Could you update and try again?

[2017-03-13 13:49] ye commented on #18
@jayfk yup, the latest master works great with the HTTP url.

[code]

One tiny caveat is that it didn't recognize the `#egg=` part to extract version info (hence the unpinned requirement warning).

[2017-03-13 15:45] jayfk commented on #18
That's because `safety-0.6.0` isn't a valid specifier. Using `safety==0.6.0` should work.

[2017-03-13 17:05] ye commented on #18
Ok, so no way to extract version info from a HTTP pip package source?

[2017-03-13 21:35] jayfk commented on #18
Of course!

Instead of

[code]

you use

[code]

[2017-03-14 16:47] ye commented on #18
Ok thanks, that worked albeit it feels a little awkward and different from [PIP's VCS support syntax](https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support)...but I will take it!

[2017-03-17 14:28] jayfk commented on #20
how would this work, exactly?

`safety check --ingore Django==1.8.16`?

[2017-03-17 15:16] ktosiek commented on #20
Either that, or pointing to a file with a list of them.
It would be even better if there was a way to ignore specific vulns (so new vulnerabilities in the same version are still shown), but they don't seem to have any identifiers.

[2017-03-17 15:19] jayfk commented on #20
The next `safety-db` release will have identifiers 👍

[2017-03-19 16:58] ktosiek opened #42 "--full-report is a noop on master"
* safety version: master (3b37e2543e476c5b3e8701fd5a0b5a779701beb5)
* Python version: Any
* Operating System: Any

### Description

Even though it's still in --help, it looks like --full-report argument is ignored, and there's no way on master to show additional information about vulnerabilities found. Is that intentional? Is the option to see details of vulnerabilities going to be removed?

[2017-03-19 17:10] jayfk commented on #42
Yep, this isn't working on master.

The master database will get a big update next week and will include advisories and proper IDs. Once that's done using the --full-report option will spit out advisories :)

[2017-03-19 17:57] ktosiek commented on #42
Yay! I wanted to look at fixing #22, but that bug probably went away with old full report :-)

[2017-03-20 11:14] jayfk opened #43 "Don't mangle output on terminals <80"
This looks horrible

<img width="626" alt="screen shot 2017-03-20 at 12 13 08" src="https://cloud.githubusercontent.com/assets/2930472/24097553/a2638324-0d66-11e7-8faf-4f31519064b6.png">

Safety should check the terminal size and use an alternative template if the size is below 80.

[2017-03-21 16:13] #43 closed

[2017-03-23 11:03] jayfk commented on #42
Full report is back again: https://github.com/pyupio/safety/commit/cfedd9cf93d88291ef94c73a08f8a324b85fb5ef

[2017-03-23 11:03] #42 closed

[2017-03-23 11:11] jayfk commented on #18
The problem is that you need to actually execute a package's `setup.py` to get the version that's going to be installed via VCS. This basically means to install the package.

That's something I really don't want to do. It's unexpected from a user POV and has side effects.

[2017-03-23 11:11] #18 closed

[2017-03-23 11:12] jayfk commented on #3
I wasn't able to reproduce this.

[2017-03-23 11:12] #3 closed

[2017-03-23 11:17] kulapard opened #44 "NameError: global name 'FileNotFoundError' is not defined"
* safety version: 1.0.0
* Python version: 2.7.13
* Operating System: macOS 10.12.3

### Description

Installed fresh safety and run `safety check`.
Got `NameError: global name 'FileNotFoundError' is not defined` error.

### What I Did

[code]

[2017-03-23 12:18] tiran opened #45 "Check for Python versions with security issues"
What do you think about checking if Python itself or some of its modules are subject to security issues? @haypo has been working on a list of Python versions with security issues, https://python-security.readthedocs.io/vulnerabilities.html

[2017-03-23 13:59] jayfk commented on #44
Thanks for reporting, fixed in https://github.com/pyupio/safety/commit/10d606090eb13d373b8d16142284c302dd76780f and https://github.com/pyupio/safety/commit/ed15d7f100dcc3b7c62b4546e3f9e6ca49742c68

[2017-03-23 13:59] #44 closed

[2017-03-23 14:00] jayfk opened #46 "Make --full-report the default?"
Should `--full-report` be the default option?

[2017-03-24 12:39] jayfk opened #47 "Add Pipfile support"
Safety already works with the currently active virtual environment, but it would be nice to to run:

[code]
or

[code]

It's probably the best to wait for https://github.com/pypa/pipfile/pull/57 before working on this.

[2017-03-27 13:51] jayfk commented on #45
I like the idea @tiran. In fact, I've already started to work on this.

Calling safety with

[code]

yields something like:

[code]

Using @haypo's would be a much better option, though.

From what it looks like (vulnerabilities.yaml)[https://github.com/haypo/python-security/blob/master/vulnerabilities.yaml] seems to contain all the info we need, except for the specifiers.

---
Ideally, I'd like t

[2017-03-27 13:58] haypo commented on #45
What are specifiers?

My Git repository contains raw data and tools to "compile" data. You are free to generate your own output which doesn't require any dependency. For example, my output is a Sphinx documentation compiled to HTML which doesn't need PyYAML to be read :-D

[2017-03-27 14:07] jayfk commented on #45
I was referring to https://github.com/pypa/packaging/blob/master/docs/specifiers.rst

Basically translating  the commits to vulnerable releases, something like:
[code]

This allows to do find vulnerable releases using the `packaging` library:
[code]

[2017-04-02 08:22] hackebrot commented on #45
@jayfk, while [poyo](https://github.com/hackebrot/poyo) works just fine for [cookiecutter configs](https://github.com/audreyr/cookiecutter), I would not want to use it for something else unless you really need to, say if PyYAML breaks a number of your users (which was the case for us).

poyo is very limited in what it can do. At this point I don't want to invest the time to add more to it that str

[2017-04-20 09:09] klada opened #51 "AttributeError: Requirement instance has no attribute 'name'"
* safety version: 1.1.1
* Python version: 2.7
* Operating System: RHEL7

### Description

Whenever **safety** stumbles over unpinned requirements, it fails with an exception:

This is the result:

[code]

This happens both with unpinned versions in `requirements.txt` and with unpinned versions in the `pip freeze` output (e.g. git snapshots).

In my setup the parsed requirement `req`, which is acce

[2017-04-20 09:10] jayfk opened #52 "Add --offline option"
safety-db is now installable via pip, add it as an option.

[2017-04-20 09:15] jayfk commented on #51
Thanks for reporting!

Could you attach the output of `pip freeze` (maybe remove private packages)?

[2017-04-20 09:20] klada commented on #51
It happens for example with this simple requirements.txt file:

[code]

I have prepared a PR which resolves the issue for me.

[2017-04-20 14:23] #51 closed

[2017-04-21 10:02] jayfk commented on #20
This is now possible (https://github.com/pyupio/safety/commit/4506f379362754f4d312330e058cd05570ec4137), available in `1.4.0`.

### `--ignore`, `-i`

Ignore one (or multiple) vulnerabilities by ID

Example

[code]

[2017-04-21 10:02] #20 closed

[2017-06-19 17:29] natanielstrack opened #63 "Error 'dict' object has no attribute 'split' when using Safety API"
* safety version: 1.4.0
* Python version: 3.5.2
* Operating System: OS X 10.11.6

### Description

I was trying to check the requirements packages using the Safety API (using the key) and an exception was raised.

Obs: using Safety DB without the key it works.

### What I Did

[code]

### Also

With the Safety API the exception is raise and the `specifiers` field got this content:
``` {'type': 'cv

[2017-06-19 19:10] jayfk commented on #63
Thanks for raising this issue. There were a couple of API changes earlier today that might be causing this. Awkward.

I'll keep you posted.

[2017-06-19 19:18] natanielstrack commented on #63
Thanks. We just started using Safety and love it, now we're eager to use the more update db version Safety API.

[2017-06-20 08:54] jayfk commented on #63
Fixed! Again, thanks for letting me know 👍

[2017-06-20 08:54] #63 closed

[2017-06-20 14:04] natanielstrack commented on #63
Thank you, sir.

[2017-07-04 14:18] AndreLouisCaron opened #65 "Windows compat?"
(Transferred from pyupio/safety-db#2249).

Thanks for posting this tool, looks very promising!

I just tried this on Windows and I got an error:

[code]

I guess the `stty` command is not available on Windows. There is an API to get this information. Would you be willing to accept a patch to fix this?

Thanks!

[2017-07-04 14:32] #65 closed

[2017-07-14 08:51] jayfk opened #67 "Switch to dparse library"
https://github.com/pyupio/dparse

[2017-07-18 10:53] jayfk opened #69 "Remove dependency on setuptools.."
.. and switch to packaging.

[2017-07-18 10:54] jayfk opened #70 "Add support for tox.ini"

[2017-07-18 10:54] jayfk opened #71 "Add support for conda.yml"

[2017-07-19 13:05] #67 closed

[2017-07-19 13:05] #69 closed

[2017-07-20 06:58] koniiiik opened #72 "AttributeError: 'Requirement' object has no attribute 'project_name' for VCS requirements"
* safety version: 1.5.0
* Python version: 2.7.6
* Operating System: Ubuntu Trusty

### Description

$SUBJ when there's a git requirement, like for example this:
[code]

Here's the traceback:

[code]

[2017-07-20 07:16] jayfk commented on #72
Thanks for reporting. Fixed in https://github.com/pyupio/safety/commit/bf7cbd448d05a338d596c4eeb50ff0e324d74003

I've issued a new bugfix release: `1.5.1` should be available in a couple of minutes on PyPi. In the meantime, `1.4.1` should work.

[2017-07-20 07:16] #72 closed

[2017-07-25 10:03] jayfk opened #73 "Add an --email option?"
When running Safety in a cron job it might make sense to add an email address which could be used to mail a report if something is vulnerable.

Ideas?

[2017-07-27 19:43] tony opened #76 "rst broken on pypi for 1.5.1"
https://pypi.python.org/pypi/safety (https://pypi.python.org/pypi/safety/1.5.1)

[2017-08-10 21:15] thatarchguy opened #80 "Safety does not check multiple versions of a library from a single file"
* safety version: 1.5.1
* Python version: 2.7.13
* Operating System: Arch Linux

### Description

When putting multiple versions of a library in a file, safety does not check each version.
This would be a useful feature for people hosting a local pypi repository that needs libraries vetted for vulnerabilities.

### What I Did

[code]

### What I Expect
[code]

[2017-09-16 15:25] KangOl opened #84 "Check for pytosquatting packages"
`safety` is the perfect tool to check against these malicious packages.

Ref:
 - http://www.nbu.gov.sk/skcsirt-sa-20170909-pypi/
 - https://www.pytosquatting.org/

[2017-09-18 06:16] jayfk commented on #84
Will do!

[2017-09-18 09:14] Lucas-C commented on #84
FYI, the full experiment context: https://pytosquatting.org

[2017-10-13 08:27] jayfk commented on #84
Thanks, added them a couple days ago: https://github.com/pyupio/safety-db/commit/b8a9d943c7ccc6624be87d0cc9b9e5970fbd83a9

[2017-10-13 08:27] #84 closed

[2017-10-13 09:03] jayfk opened #88 "Add indicator what DB is being used"
Thanks to @JochenABC for the suggestion

free db was used for this scan. For us it is difficult to determine
since we run safety check --key=${SAFETY_CHECK_API_KEY} in a CI job and
the env var gets injected by CI.

--key=" is run -> we run on public db

on the latest db

[2017-10-13 09:03] jayfk opened #89 "Add indicator how many packages are being scanned"
Suggested by @JochenABC

packages were scanned. In the beginning we were not sure that safety was
behaving correctly and really scanning all packages in our venv.

[2017-10-20 14:00] jayfk opened #90 "pip 10 api breakage"
Quoting distutils-sig:

long-awaited pip 10). We're likely still a month or two away from a
release, but now is the time for people to start ensuring that
everything works for them. One key change in the new version will be
that all of the internal APIs of pip will no longer be available, so
any code that currently calls functions in the "pip" namespace will
break. Calling pip's internal APIs has

[2017-10-20 14:56] #88 closed

[2017-10-20 14:56] #89 closed

[2017-10-20 16:47] int-ua opened #91 "TypeError: object of type 'itertools.chain' has no len()"
* safety version: 1.6.0
* Python version: 3.4.3
* Operating System: Ubuntu

### Description

Trying to check a requirements.txt file raises an exception, see below.

### What I Did

[code]

[2017-10-20 16:51] int-ua opened #92 "Lower bound of versions affected by a vulnerability is ignored"
* safety version: 1.6.0

### Description

For example Pillow==2.4.0 is not affected by [CVE-2016-3076](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-3076) but it's still shown as vulnerable.

### What I Did

[code]

[2017-10-20 18:20] #91 closed

[2017-10-20 18:22] jayfk commented on #91
Thanks 👍

[2017-10-20 18:26] jayfk commented on #92
Moving this to `safet-db`: https://github.com/pyupio/safety-db/issues/2255

[2017-10-20 18:26] #92 closed

[2018-01-15 10:09] chgad opened #100 "Issue with GitHub integration"
* safety version: GitHub integration
* Python version: 2.7.x
* Operating System:

### Description

We have an status integrated for varryfying each PR going into the master branch.

I now encounter that this status is Pending for over 12 hours.

Is there currently a server issue or am I doing something wrong with the integration?

[2018-01-15 11:02] jayfk commented on #100
There are currently no (known) global server issues. The most reasonable explanation is that one of the worker processes wasn't able to correctly set the commit status.

Is this on a private repo? If so, could you sent me the repo name and the commit sha via mail to support@pyup.io?

If not, please send me a link to the PR on GitHub and I'll have a look at it.

[2018-01-23 12:10] chgad commented on #100
Well,
I "reencounter" this Problem, but i found smth which seeems like a bug to me.
So the pyup/saftey Integration works fine when using feature branches and Pr them into our develop branch. Now when Pring into master it stays on "waiting for satus report".

**But** if i do a normal commit on the develop branch (which i'd like to prevent in the future) and push this commit, the status is reported

[2018-01-23 12:33] jayfk commented on #100
Could you check if there are any webhooks not being sent to pyup.io and/or are throwing errors?

If you go into your repos settings, you should see a webhook pointing to pyup.io. A click on `edit` should show you all calls to the api (you need to scroll down a bit).

[2018-01-24 16:52] chgad commented on #100
Strangely,

it seems that all Request were succesfull even if i encountered "perma-pending" statuses.

[2018-02-02 21:55] nnadeau opened #102 "Unpinned requirement warning does not give filename context"
* safety version: 1.6.1
* Python version: Python 3.6.1
* Operating System: Windows 10

### Description
- `safety check` multiple requirements, e.g.:
[code]

### What I Did
- Received warning about unpinned requirements without the context of *which* file

[code]

- Warnings are popped from here: https://github.com/pyupio/safety/blob/76a6e68f17199a8997b61c51a11d20274cf3c34b/safety/util.py#L79-L83

[2018-02-02 23:38] nnadeau opened #104 "Python 2.6 & 3.3 are EoL and blocking CI"
* safety version: n/a
* Python version: n/a
* Operating System: n/a

### Description
- Python 2.6 & 3.3 are end-of=life (EoL)
  - See: https://devguide.python.org/#status-of-python-branches
- These versions are blocking CI builds
  - [The latest version of `PyYAML` (v3.12) doesn't seem to support Windows Py3.3](https://pypi.python.org/pypi/PyYAML)
    - It is pulled as a `click` dependency on `App

[2018-02-03 07:44] #104 closed

[2018-02-03 07:44] #102 closed

[2018-02-03 10:59] chgad commented on #100
Update:

I first thought it might be an issue of "not calling the hook when creating the PR". But i doubled checked it and yes, I'm calling the hook when a PR is opened etc. . And the Response looks fine to me.

But still, pending.

[2018-02-07 15:02] ilyavw commented on #100
Running into something similar, if I rebase my branch and force push it, the commit status will hang in pending, but if I make a new commit and push it everything will run as expected.

[2018-02-07 16:27] voidus opened #108 "Support scanning setup.py files"
It would be nice if it was possible to pass setup.py files to `safety check --file`

[2018-02-08 07:24] jayfk commented on #100
Thanks, that helps a lot. I'm struggling to reproduce this on a minimal test repo. Maybe that will help.

I'll keep you posted.

[2018-02-15 08:25] jayfk commented on #100
I've just deployed some changes that hopefully fix this issue.

@chgad @ilyavw could you try reproducing the bug on one of your repos? If it still doesn't work, could you give me the exact steps that you were doing?

[code]

[2018-02-15 13:53] chgad commented on #100
I'm currently on vacation. I'll try it as soon as I'm back.

[2018-02-15 15:06] ilyavw commented on #100
Unfortunately I was able to still reproduce this. Here are my steps:

[code]
<img width="417" alt="image" src="https://user-images.githubusercontent.com/34514071/36263199-acd91400-1237-11e8-833c-9a3fa69dfebe.png">
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/34514071/36263213-b5d09b8c-1237-11e8-9d59-6cb962f198f8.png">

[2018-02-15 16:05] ilyavw commented on #100
Ah, that was it! I messed up the syntax in the tox file and that's what caused the failure. I can confirm now that this issue appears to be resolved. Thank you!

[2018-03-18 06:59] jayvdb opened #114 "Implicit dependency on pip"
* safety version: master, 1.7.0  , 0.5.1
* Python version: any
* Operating System: any

### Description

Somewhat related to https://github.com/pyupio/safety/issues/90 , safety has a dependency on pip which is not declared in the requirements.

Instead `requirements_dev.txt` has `pip==9.0.1`

Currently the listed dependencies are
- Click>=6.0
- requests
- packaging
- dparse>=0.2.1

dparse `master`

[2018-03-18 07:24] jayvdb commented on #90
Christmas has come early ; pip 9.0.2 broke it.

[2018-03-19 11:07] jayfk commented on #114
Totally agree here, also on the relying on pip part. Any recommendations going forward?

Try/catch importing `get_installed_distributions` should work, but ideally I'd like to drop the dependency on pip all together. Help on that is greatly appreciated.

[2018-03-19 11:51] jayvdb commented on #114
Well `pip` wants to be called as a cmdline app, so why not run `pip list --some --args` to get the desired list and then parse it.  If they dont have a cmd line that does what safety needs, we could ask them to create one.

Then a consideration is which versions of pip are needed to run the required command, and using that as the minimum requirement in `safety` dependencies.

[2018-03-19 12:18] jayfk commented on #114
Yep, that‘s a pretty good idea.

[2018-03-21 15:08] calve commented on #108
The following script might be a starting point, just pipe the output to `safety`. Be careful with the input tho as this use `ast.parse()` and could happily execute malicious code in the setup.py.

[code]

[2018-03-22 12:54] nnadeau opened #119 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-79: character maps to <undefined>"
* safety version: 1.7.0
* Python version: Python 3.6.1
* Operating System: `Windows-10-10.0.16299-SP0`, `AMD64`

### Description
- Trying to use `safety check`
- Same error always results: `UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-79: character maps to <undefined>`

### What I Did
[code]

#### Contents of `simple-requirements.txt`
[code]
- There are absolutely no u

[2018-04-04 20:14] omarish commented on #90
We just ran into this as well, using pip 10.0.0b2.

[2018-04-06 10:06] jayfk commented on #119
That's odd. I tried to reproduce this locally on different windows environments but wasn't able to.

It looks like the output is the problem here: https://github.com/pyupio/safety/blob/master/safety/formatter.py#L48

[2018-04-06 11:44] rlupton20 opened #122 "dparse 0.4.0 breaks safety"
* safety version: 1.8.0
* Python version: 3.6
* Operating System: Container build (debian python container)

### Description

`safety check` no longer runs. Suspect breaking API change in new version of `dparse`.

### What I Did

Clean install of safety, followed by `safety check`. Produces stack trace:

[code]

Seems to have occurred on dependency being resolved from dparse version 0.3.0 to 0.4.0

[2018-04-06 11:46] jayfk commented on #122
Yup, dparse `0.4.0` has a packaging error. `0.4.1` is currently being pushed to PyPi. Once that's complete, I'm going to issue a new Safety release `1.8.1`.

[2018-04-06 11:48] rlupton20 commented on #122
Thanks - I'm pinning the `dparse` version for now.

[2018-04-06 11:54] jayfk commented on #122
`1.8.1` is now available on PyPi :)

[2018-04-06 11:54] #122 closed

[2018-04-06 12:06] jayfk commented on #114
`pip` is now a declared dependency: https://github.com/pyupio/safety/blob/master/setup.py#L21
The transitive `pipenv` dependency has been removed with dparse `0.4.1`.

Calling `pip` through the commandline is going to be a major foo on windows. I'm going to try/catch the API breakage while continuing using the internal API.

Not ideal, but this is packaging. No one expected this to be easy.

[2018-04-06 12:06] #114 closed

[2018-04-06 12:57] jayvdb commented on #90
Maybe get ahead of the game and add a requirement `pip<10` until such time as the safety code has been updated to use `pip` via the command line interface.
c.f. https://github.com/pyupio/safety/issues/114#issuecomment-379233640

[2018-04-06 13:31] rlupton20 commented on #122
Thanks, can confirm this is working.

[2018-04-18 10:09] jayvdb commented on #35
just ftr, that commit doesnt solve the problem referred to here, but https://github.com/pyupio/safety/commit/f51f05b08842c9ce4322d05d644500dbb8458673 probably fixed it, and switching to `dparse` definitely did.

[2018-05-07 14:10] g-k opened #128 "Recursive requirements crashing from stdin"
* safety version: 1.8.1
* Python version: 3.5.5
* Operating System: ubuntu 16.04 (via the ubuntu:16.04 docker image) (also for OSX 10.13.4 (17E199))

### Description

Run safety on a requirements file with [a recursive requirement](https://pip.readthedocs.io/en/1.1/requirements.html#recursive-requirements) from `--stdin` e.g. `-r requirements.txt` from `requirements-dev.txt`

what happened/what we

[2018-05-07 14:12] g-k commented on #128
Use case is checking many repos without cloning them.

[2018-05-27 04:43] jayvdb commented on #22
https://github.com/pyupio/safety/pull/36 should fix this.

[2018-05-27 04:43] jayvdb commented on #119
This is a dup of https://github.com/pyupio/safety/issues/22

and is fixed by https://github.com/pyupio/safety/pull/36

[2018-06-10 17:36] adiroiban opened #131 "Output vulnerable packages to stderr"
### Description

This is a feature request.

It would be nice that when running in CI mode, safety can output the errors to stderr.
In this way, it would be easier to highlight them in the whole CI output.

I see that the current design for formatter/reported does not make it easy to make the distinction between the normal banner and extra formatting and the actual error report.

So at this point,

[2018-06-12 13:05] andresriancho opened #132 "Support -r inside requirements.txt files"
* safety version: 1.8.1
* Python version: 2.7.15rc1
* Operating System: Ubuntu 18

### Description

`safety` doesn't seem to handle `-r {file}` lines inside requirements.txt files.

### What I Did

[code]

[2018-06-13 01:32] srfraser opened #133 "Bring warnings to a valid JSON output"
* safety version: 1.8.1
* Python version: 3.6.5
* Operating System: MacOSX

### Description

If a requirements.txt file has unpinned entries, parsing output with `--json` is difficult, as the warnings are not in the data structure.

### What I Did

I ran `safety check --json -r ./requirements.txt` against a requirements file that had unpinned entries, and received some warnings, as expected. Howev

[2018-06-22 02:44] jayvdb commented on #90
@di is looking at a new approach to solving this problem.
c.f. https://github.com/di/pytest-reqs/issues/13#issuecomment-381607494

[2018-06-25 05:59] chris-x86-64 opened #135 "Support for constraints file?"
* safety version: 1.8.1 (latest at the moment)
* Python version: 3.6.2
* Operating System: Debian 8 (Docker container)

### Description

This is a feature suggestion.
My project has a constraints file (i.e. `constraints.txt`) which pins the libraries' versions.
I was wondering if there's a plan to support constraints, e.g.
[code]

### What I Did

In the meantime, I'm working it around by actually

[2018-06-26 06:37] chris-x86-64 opened #136 "Load and pretty-print previously saved results"
* safety version: 1.8.1 (current at the moment)
* Python version: 3.6.3
* Operating System: Debian 8 (Docker container)

### Description

This is a feature suggestion.
It'd be nice to be able to recall the saved results in the tidy way _safety_ displays.

Firstly, a user may run the check and save its result:
[code]

To review the pretty-printed result later, do:
[code]

_safety_ reads the input J

[2018-07-11 14:52] #22 closed

[2018-07-17 15:31] dgilge commented on #90
I also ran into this.

I don't know if this is an option:

See https://github.com/pypa/pip/issues/5243#issuecomment-381513000. As a result we might have another dependency: `setuptools`.

[2018-07-19 13:00] JochenABC opened #141 "TypeError when executing with --full-report"
* safety version:1.8.2
* Python version: 3.6.5
* Operating System: linux (ubuntu)

### Description

Whenever safety is run with `--full-report` and tries to report an issue it will abort with `TypeError: unsupported format string passed to bytes.__format__`

### What I Did

[code]

[2018-07-20 13:20] richleland commented on #141
I'm seeing the same error. I've got scheduled daily builds - the last successful was July 17, and then they started failing July 18. That doesn't seem to be tied to the release of 1.8.2 on July 11. I tried the same run using safety 1.8.1 and the build ran fine. I'm guessing it's tied to [this commit](https://github.com/pyupio/safety/commit/1666851cf32a850e482ebb641c48f48fb8045c61).

I'd love to su

[2018-07-20 14:44] Jwomers commented on #141
Hi @richleland @JochenABC thanks for the details, we're looking into this. In the mean time if you come across any more details please let me know.
Thanks!

[2018-07-20 15:30] Jwomers commented on #141
I have opened a PR potential fix: https://github.com/pyupio/safety/pull/142

We will be testing this before deploying.

@JochenABC can you confirm that if you change back to safety 1.8.1 it works for you?

[2018-07-20 15:56] richleland opened #143 "PyYAML, required by dparse, has vulnerability, so safety check always fails"
* safety version: 1.8.1
* Python version: 3.6.5
* Operating System: MacOS High Sierra and CentOS Linux release 7.2.1511

### Description

I'm trying to run `safety check --full-report`. I expect the check to pass, but it fails with a pyyaml vulnerability. Safety has a dependency on dparse, which has a dependency on pyyaml. I'm running safety against a package (no requirements.txt), so it falls bac

[2018-07-23 06:55] JochenABC commented on #141
@Jwomers Confirmed:

* It works with 1.8.1
* When I apply your patch from PR #142 it will also work again

[2018-07-23 15:52] Jwomers commented on #141
@JochenABC @richleland looks like PR #142 works for all, I will be merging and pushing to PyPi later today.

[2018-07-24 15:02] Jwomers commented on #141
This is merged and being pushed to PyPi. Closing this issue. Thanks all for the help.

[2018-07-24 15:02] #141 closed

[2018-07-27 12:36] girardinsamuel opened #145 "Add GitLab integration"
* safety version:
* Python version:
* Operating System:

### Description

I have not found any GitLab integration yet. Do you plan to add GitLab integration ?
If not do you think it is something doable ? I can try to open a PR to integrate this.

Thank you in advance
PS: great work by the way for this package 👍

[2018-07-30 16:35] shtratos commented on #143
see https://github.com/pyupio/safety-db/issues/2271

[2018-08-01 13:50] shtratos commented on #143
This seems to be fixed now. `pipenv check` passes without `-i 36333` for `pyyaml 3.13` installed

[2018-08-02 18:42] Jwomers commented on #143
@shtratos @richleland yes we removed this advisory since there is no fix for now.

[2018-08-02 18:42] #143 closed

[2018-08-14 18:53] #80 closed

[2018-08-16 12:05] nilp0inter opened #147 "How can I obtain the CVE of the vulnerabilities?"
Hi,

Is there a way of print a report including CVE id of the vulnerabilities?

[2018-09-02 16:09] mes3yd commented on #143
The fix in upstream has been done in [>=4.1](https://github.com/yaml/pyyaml/pull/74).

So why can we not keep marking <4.1 as unsafe to trigger the [upstream packages](https://github.com/rubik/xenon/issues/23)?

"Let's not scream about vulnerabilities marked [won't fix](https://github.com/yaml/pyyaml/issues/207#issuecomment-406109132) by maintainer" is a bad precedent for a security scanner IMHO.

[2018-09-06 10:55] dumol opened #153 "Wrong error code on Windows."
* safety version: 1.8.4
* Python version: 2.7.15
* Operating System: Windows XP

### Description

We try to integrate `safety` checks in https://github.com/chevah/python-package/. It works as advertised for a wide variety of platforms, but on Windows the error code is always zero, even if vulnerabilities are found.

### What I Did

Eg., if I build our Python package from branch `4974-safety-pip-mo

[2018-09-17 15:10] o6uoq opened #155 "Dockerise safety"
### Description

Dockerise the safety command/tool to make it easier to be used in local development and within CI/CD pipelines.

### What I Did

Here's a copy of my Dockerfile that I used to do this locally, it may be valuable to others (or if someone wants to PR it back into master):

[code]

Then you can simply run a command as per the README.md, like so:

`echo "insecure-package==0.1" | docker

[2018-09-17 16:27] pawamoy commented on #155
Why not

[code]
?

[2018-09-17 22:42] o6uoq commented on #155
@pawamoy that works too, but I prefer using Ubuntu over Alpine for both personal preference and security reasons.

[2018-09-17 23:10] pawamoy commented on #155
@o6uoq The official Python images are by default based on Debian Stretch, not Alpine. To use Alpine it would have been `python:3.6-alpine` :slightly_smiling_face:

[2018-09-18 09:31] o6uoq commented on #155
@pawamoy no worries, both work! :)

[2018-09-18 10:33] o6uoq commented on #155
@pawamoy no worries, down to personal preference and requirements. However, I've just used `FROM python3.6` vs the Ubuntu Dockerfile snippet above:

[code]
Using Ubuntu is about half the size, but again, down to your personal preference and requirements!

[2018-09-18 11:31] pawamoy commented on #155
Ah, indeed half the size is neat. Didn't know that :slightly_smiling_face: Of course it's up to you, I was just asking! Thanks for the info

[2018-09-19 16:40] o6uoq commented on #155
No worries! 👍

[2018-09-23 05:51] GadgetSteve opened #157 "Add --proxy= command line option"
* safety version: 1.8.4
* Python version: All
* Operating System: All

### Description

Trying to run safety within a corporate, _(paranoid),_ environment.
A lot of error print out about socket timeout, etc., then error termination.

### What I Did
`pip install safety`  # N.B. pip.ini contains a proxy setting that allows it to work
`safety check`  # Resulted in the errors above
`set HTTPS_PROXY=`

[2018-09-24 18:12] bac opened #158 "`safety check --bare` should not produce output when no vulnerabilities are found"
* safety version: 1.8.4
* Python version: 2.7.5
* Operating System: CentOS

### Description

Attempting to use `safety check --bare` in a cronjob expecting output and email only if vulnerabilities are seen.

Unfortunately the --bare option renders an empty string which still produces a blank line which means cron will generate email even when no vulnerabilities are seen.

### What I Did

[code]

#

[2018-09-29 17:08] chowmean commented on #158
Created a PR for this issue, please review if it is helpful and tell me if any problems. Thanks
[Pull Request](https://github.com/pyupio/safety/pull/159)

[2018-10-01 22:31] chowmean commented on #157
Here is a version you can use..
[Adding proxy support](https://github.com/pyupio/safety/pull/161)

[2018-10-03 21:20] lhoekenga commented on #145
+1

[2018-10-08 20:04] chowmean commented on #147
You can get it from here.. https://github.com/pyupio/safety-db/blob/master/data/insecure_full.json
But this also doesn't have all the CVE. Some of them are NULL.
If its not just python you can get the common vulnerabilities ON CVE website https://cve.mitre.org/cve/search_cve_list.html

[2018-10-23 13:56] jayvdb commented on #119
@nnadeau, is this fixed for you now?

[2018-10-24 18:46] bmoe872 opened #166 "UnicodeEncodeError: 'latin-1' codec can't encode characters in position 0-79: ordinal not in range(256)"
* safety version: 1.8.4
* Python version: 3.6.6
* Operating System: Ubuntu 18.04

### Description

I installed safety using `pip install safety` and then ran: `safety check` and was met with the error in the title.

### What I Did

[code]

[2018-10-29 13:01] nnadeau commented on #119
I'll check asap when I get access to a Windows PC

[2018-11-26 20:29] hmajid2301 commented on #136
Ill take a look at implementing this.

[2018-11-27 10:18] dumol opened #174 "Whitelist pyOpenSSL 0.13.1 for IDs 36533/36534."
* safety version: 1.8.4
* Python version: 2.7.15
* Operating System: Solaris 10u11, HP-UX 11.31.

### Description

pyOpenSSL vulnerabilities with IDs 36533/36534, corresponding to CVE-2018-1000807 and CVE-2018-1000807, fixed upstream in https://github.com/pyca/pyopenssl/pull/723 do not seem to be applicable to pyOpenSSL version 0.13.1.

Although quite old, pyOpenSSL version 0.13.1 doesn't require

[2018-11-29 19:22] Richardwan7 opened #175 "Question: <= meaning"
* safety version: 1.8.4
* Python version:
* Operating System: Ubuntu 16.04

### Description
Does '<=' in affected version means that the latest version is affected?

### What I Did

[code]

[2018-11-30 20:54] hmajid2301 opened #176 "Save File"
* safety version: NA
* Python version: NA
* Operating System: NA

### Description

It would be nice if you create an output file directly from cli. For example add an option like -o --output which would save the generated report to a file.

### What I Did

NA

[2018-12-19 19:45] ewhauser commented on #90
This has been fixed in newer versions of safety and should be closed.

[2018-12-21 08:33] shivank1234 opened #179 "Upgrade to click>=7.0"
* safety version:NA
* Python version:NA
* Operating System:NA

### Description
It would be good if we use the latest release of the click package that will enable better functioning of other repo's who are using safety as a dependency

### What I Did

[code]

[2019-01-08 04:10] rahulrajaram commented on #119
My Jenkins Windows builds fail with this error only against Python 3.5-3.7. This is not an issue with Python 2.7 or Python 3.4.

I am unable to reproduce this issue on the same machine using the same Python executables as a regular user.

[2019-01-08 23:38] Jwomers commented on #90
Thanks all!

[2019-01-08 23:38] #90 closed

[2019-01-09 00:18] #136 closed

[2019-01-09 00:31] Jwomers commented on #176
Thanks @hmajid2301, #177 is now merged. 💯

[2019-01-09 00:31] #176 closed

[2019-01-09 00:32] Jwomers commented on #157
@chowmean thank yo for your patience, #161 is now merged. 💯

[2019-01-09 00:32] #157 closed

[2019-01-09 17:02] #155 closed

[2019-01-09 18:01] Jwomers commented on #175
Hi @Richardwan7. `<=` in affected versions means that version number and lower are affected (inclusive).
For example. <=2.0.10 means version 2.0.10 is affected.

[2019-01-09 18:01] #175 closed

[2019-01-11 09:12] normoes opened #183 "README Feature: Error codes for check"
I would love to see a short section about the error codes of `check`.

[Black](https://github.com/ambv/black) (under **Command line options**) does that and it helped me a lot:

[code]

I found this in `safety/cli.py` (line 90) to be very helpful:

[code]

[2019-02-13 18:31] pdmayoSFI opened #197 "Include Risk Severity in Safety Finding Details"
* safety version: 1.8.4
* Python version: 2.7
* Operating System: Ubuntu Bionic

### Description

* **Issue**: Finding details reported by Safety do not include a measure of Risk Severity rating or categorization. (i.e. Critical, High, Medium, Low, Informational)

* **Impact**: The lack of a Risk Severity rating impacts the effectiveness of a user in determining a quick priority list regarding whi

[2019-02-15 08:49] cclauss opened #198 "Should this project contain/support a GitHub Action for safety ci?"
Should this project contain the code for a simple yet flexible GitHub Action that allows repo maintainers to quickly add automated safety testing on all pull requests submitted to their repos?

Putting that code into this repo or another pyup repo will focus development efforts on a single, community-supported GitHub Action for safety instead of a multitude of homegrown solutions.

Currently you m

[2019-02-20 13:30] pawamoy opened #201 "Read poetry.lock file"
I would like `safety` to be able to read dependencies from a `poetry.lock` file. It is written in TOML format.

Here is an example of how a dependency is written:

[code]

Here is a complete file:

[poetry.lock](https://github.com/pyupio/safety/files/2884739/poetry.lock.txt)

Currently the only way to use `safety` when developing a project with `poetry` is to actually install the dependencies (whi

[2019-02-26 00:58] margaretgorguissian opened #205 "Safety does not recognize `msgpack-python` is the same as `msgpack`"
* safety version: 1.8.5
* Python version: 3.6.0
* Operating System: Ubuntu 14.04

### Description
Safety reports a vulnerability for `msgpack` versions `<0.6.0`. However, for versions `0.5.0`, `msgpack` could be installed as `msgpack-python`. If `msgpack-python` is pinned to a version `<0.6.0`, no vulnerability is recognized.

This could be a matter of expanding the Safety DB or simply stripping `

[2019-03-12 21:34] Krlier opened #213 "Safety --json output does not generate json as "key:value""
* safety version:1.8.5
* Python version:3.7.1
* Operating System:MacOSX

### Description

I'm currently working to add Safety as one of the security test of [huskyCI][1] in this [WIP pull request][2], but I have the following issue:
I'm trying to unmarshal the JSON output generated through the `--json`  flag into a struct, but I'm not able to do it properly as the JSON is not organized as "key:val

[2019-03-13 14:26] Krlier commented on #213
I've found a temporary workaround using bash. If anyone needs it, the code is as follows:

[code]

Input example:
[code]

Output after using the script:
[code]

[2019-04-12 10:42] a-recknagel commented on #201
+1 on the feature request, I would love to have this as well.

As a side note, from `poetry==1.0.0a0` onward you can use `poetry export -f requirements.txt` to generate a requirements.txt file that can be consumed by `safety check`. But it is a bit inconvenient in CI chains.

[2019-04-12 10:55] a-recknagel opened #219 "Add gitlab-ci usage"
### Description

I wanted to integrate `safety` into our gitlab ci suite, but didn't know how. It would be nice to add it to the readme, since it's quite popular.

[2019-04-12 11:20] a-recknagel commented on #219
Related: #145

[2019-05-26 05:46] charleswhchan opened #227 "Support requirements.txt with --hash"
* safety version: 1.8.5
* Python version: 3.6.7
* Operating System: Ubuntu 18.04

### Description

`safety` skips package(s) with `--hash` inside `requirements.txt`
[code]
### What I Did

[code]

If I remove `--hash`, then `safety` will process and check the package(s) as expected

[2019-05-27 03:13] leowonglaw commented on #119
I had the same issue when I used git bash insted of CMD. With CMD it works fine.

[2019-05-28 12:47] pydolan commented on #201
If using [pre-commit](https://pre-commit.com/), here's a hook to using the stdin approach @pawamoy described:

[code]

[2019-06-11 08:58] wadevries commented on #183
Actually it seems `-1` is the only exit code ever returned (besides `0`). It would be really useful for me to differentiate between a technical failure and "vulnerabilities being found".

I use `safety check --bare` in a cronjob and I want my cronjob to fail loudly if safety could not run, but just report the vulnerabilities if run successfully. A flag like `--exit-0-even-if-vulnerabilities-found`

[2019-06-15 16:40] ohlr commented on #71
Is there anything that can be done to bring this forward?

[2019-06-15 19:26] normoes commented on #183
@wadevries
Actually, you are right.
It would further improve `safety`, especially when run in CI jobs. That's exactly my use case as well.

[2019-06-25 21:53] Midnighter commented on #119
I'm seeing this error using Miniconda on AppVeyor. [See the build log](https://ci.appveyor.com/project/Midnighter/dummy-repo/build/job/nk80bcd7rxjl82qy).

You can inspect the repo and configuration [here](https://github.com/Midnighter/dummy-repo).

[2019-07-04 13:08] dhrmn opened #233 "proxy and cache not recognized in 'check' when vulnerabilities are found"
* safety version: 1.8.5
* Python version: 3.5.3
* Operating System: Debian stretch

### Description

When using the '--proxy' options with 'safety check', the command hangs/times out, trying to fetch the DB URL directly, ignoring the proxy. This happens whenever vulnerabilities are found.

Furthermore, the '--cache' option is also ignored.

### What I Did

[code]
In firewalled environments, where

[2019-07-05 13:56] dhrmn commented on #233
Solved with pull request #234

[2019-07-16 13:59] radeklat commented on #119
I'm hitting the same issue on Python 3.7.4 when running MinGW (GitBash) and also in cygwin bash but in that instance only when running it in a sub-shell as `$(safety check -r requirements.txt)`

[2019-07-22 01:34] daurrutia opened #235 "safety check command returns python warnings"
* safety version: safety 1.8.5
* Python version: Python 2.7.12
* Operating System: Ubuntu 16.04.6 LTS

### Description

Executed `safety check --bare` to return a list of vulnerable pip packages (or nothing).

Output contained python warnings in stderr.

Anyone encounter before?

### What I Did

[code]

[2019-07-22 21:50] leebrian commented on #235
Also seeing this on Python 3.7.4 running in the "python:latest" dockerhub instance.

[2019-07-23 12:07] vaishravin opened #237 "Safety Check SSL certificate error"
* safety version:1.8.5
* Python version:3.7.3
* Operating System:Windows

### Description

Installed safety check and tried to scan a particular folder. Got error pointing to SSL certificate issue.
But I can access https://raw.githubusercontent.com/pyupio/safety-db/master/data/insecure.json on my browser without issues.
Also download of other packages is happening. So don't think it is related to

[2019-07-26 19:55] Siecje opened #240 "Not working for new Django releases"
* safety version: 1.8.5
* Python version: 3.7.2
* Operating System: Ubuntu 16.04

### Description

I'm trying to verify that `safety` knowns about `Django` security releases.

### What I Did

[code]

I understand that the free database is not always up to date but the Flask security report was published `2019-07-17` and it worked for that. But `Django==2.2.2` was released `2019-06-03`.

[2019-08-04 04:04] daurrutia commented on #235
resolved by pypa/packaging#170

[2019-08-04 04:04] #235 closed

[2019-09-02 08:31] Kazauwa commented on #240
Same problem here. I'm on a paid plan, but safety ignores new Django patches. Tried to contact support, but they do not respond.

[2019-09-23 18:23] katzdm commented on #47
Looks like pypa/pipfile#57 has been abandoned - Would it be worth revisiting this under that assumption, or was that PR an absolute blocker?

[2019-10-02 08:57] nikhilgeo opened #249 "Is Safety DB installed by default ?"
I like to get some clarity on few things to start using this one.

1. When installing the `safety` does it install the safety db also ?
2. When a new update happen in safety db how can my local version of safety db be updated ? Do I have to install/update safety again ?

[2019-10-04 12:55] joserenatosilva commented on #213
You can also use `jq` to convert to a proper array of json objects(`{'key': 'value'}`). Using the same file above as an example:

[code]

With `jq` (you can change the keys if you want, in the example I used Bandit's report json keys since both results are similar):

[code]

[2019-10-13 20:40] maaaaz commented on #147
Please include the CVE in the report:

First, this line should be adapted
https://github.com/pyupio/safety/blob/955de595563482f103d5b7871598ce582baeafbd/safety/safety.py#L14

And then this one https://github.com/pyupio/safety/blob/955de595563482f103d5b7871598ce582baeafbd/safety/safety.py#L145

[2019-10-13 20:43] maaaaz opened #251 "Pythonic and Friendly API to run check"
Hello there,
First, let me thank you for this awesome and promising project !

You already provide different ways to interact with `safety` but the most obvious one is missing: a Python module with actual bindings that can be called from another Python script.

Cheers.

[2019-10-17 15:55] Yenthe666 opened #253 "Better JSON structure for easy and safer parsing"
* safety version: 1.8.5
* Python version: 3.6.7
* Operating System: Ubuntu 18.04.1 LTS

### Description
Run the following command from a terminal:
`echo "Jinja==1.0.0" | safety check --stdin --full-report --json`
The result that will be returned looks like this:
[code]

As you can see it returns a list of all CVE's that where found along with information about the CVE. There is a big downside abou

[2019-10-17 17:11] Yenthe666 commented on #253
@pawamoy yep, agreed with you! I think that the benefit of being more robust for changes is a great benefit for safety. It could even be a new parameter `--json-detailed` so that old users that use the API still get back what they except while exposing a new method which is more detailed.

[2019-10-22 07:43] kierun commented on #201
Running the above command with the latest beta of poetry does not work.

[code]

and

[code]

[2019-10-22 07:48] kierun commented on #201
Please ignore me. Not enough coffee before I start work… Safety was not installed.

I shall go sit in a corner wearing a dunce hat.

/sigh

[2019-11-11 07:09] shahha commented on #119
In my case, export PYTHONIOENCODING=UTF-8 solved my issue.

[2019-11-11 19:57] Tagar opened #258 "Publish safety to Conda"
please publish safety to conda

Our organization normally prefers `conda` over `pip` for various reasons

thanks.

[2020-01-07 20:00] disconnect3d commented on #240
Still does not work. Does not detect e.g. CVE-2019-14235 (Django <2.2.4) or CVE-2019-14234.

[2020-01-07 20:06] disconnect3d opened #269 "Safety doesn't detect urllib's CVE-2019-9740"
* safety version: 1.8.5
* Python version: 3.x
* Operating System: linux

TLDR: Safety does not detect https://nvd.nist.gov/vuln/detail/CVE-2019-9740

[2020-01-07 22:35] disconnect3d opened #270 "Waitress package security bugs are not detected"
TLDR: There are versions of https://pypi.org/project/waitress/ which are vulnerable to CVE-2019-16785, CVE-2019-16786, CVE-2019-16787 and Safety does not detect them

[2020-01-08 10:42] gtsop commented on #47
What's the status of this?

[2020-01-13 12:28] 153957 commented on #270
See https://github.com/pyupio/safety-db/issues/2282

[2020-01-13 12:28] 153957 commented on #269
See https://github.com/pyupio/safety-db/issues/2282

[2020-01-17 09:21] bittner commented on #240
I'm wondering for quite some time, is this just a temporary shortcoming or is `safety` not meant to be used reliably as a (free) standalone tool by design?

[2020-02-01 18:06] tirkarthi opened #280 "Deprecation warning due to invalid escape sequences in Python 3.8"
[code]

[2020-02-13 22:28] rback123 commented on #147
A little data enrichment in the report could go a long ways.

[2020-02-21 14:55] guidoavvisati commented on #119
Still not fixed, but the workaround from @shahha works for me as well

[2020-03-20 17:35] #227 closed

[2020-03-20 17:37] rafaelpivato commented on #227
Thanks for reporting this :+1:

[2020-03-21 22:41] #219 closed

[2020-03-21 22:42] rafaelpivato commented on #145
Fixed with #220

[2020-03-21 22:42] #145 closed

[2020-03-22 04:13] #280 closed

[2020-03-22 04:34] rafaelpivato commented on #253
@Yenthe666 I agree we might need a better JSON reporter, and the `--json-detailed` is a good way to add this without breaking other users.

There is just one thing I am not following yet: **upper_version**. What you call as upper version is in fact a **spec version**, indicating affected version for a reported vulnerability. What happens is that some specs can include a range of versions, and ther

[2020-03-22 04:37] rafaelpivato commented on #251
Thanks, @maaaaz

Have you ever look into `safety.safety` module? Maybe we need to document that better, but that's how you could use Safety from another Python script.

[2020-03-22 04:40] rafaelpivato commented on #249
1. It is not installed, but accessed remotely.
2. You don't need to update Safety to have access to new open database we publish every month.

[2020-03-22 04:40] #249 closed

[2020-03-23 17:56] MartinFalatic opened #290 "Safety is flagging the Python `commonmark` package for a JS vulnerability"
* safety version: 1.8.5, 1.8.7
* Python version: 3.7, 3.8
* Operating System: Linux, OSX

### Description

Pyup Safety (https://pyup.io/safety/) is flagging the following security vulnerabilities in the Python `commonmark` package (which blocks builds for those like us who use Safety as a build gate). However it's not clear that this is actually a problem with the Python `commonmark` package rathe

[2020-03-23 20:19] rafaelpivato commented on #237
@vaishravin this looks like an outdated PyOpenSSL in your environment. Can you confirm you are still getting that error and, if so, tell me your **PyOpenSSL** and **requests** version?

[code]

[2020-03-23 20:21] rafaelpivato commented on #233
Thanks for that fix!

[2020-03-23 20:21] #233 closed

[2020-03-23 20:24] rafaelpivato commented on #213
Duplicated by #253

[2020-03-23 20:24] #213 closed

[2020-03-23 20:27] rafaelpivato commented on #205
Interesting problem. I am not sure whether this is a Safety, dparse or Safety-DB issue. I bet there are more of such cases indeed. :thinking:

[2020-03-23 20:33] rafaelpivato commented on #201
It is clear there is work to be done here. One problem I see so far is that Safety was supposed to be using [pyupio/dparse](https://github.com/pyupio/dparse) more than it is now, and such library should indeed have Poetry support.

The work around looks great anyway!

[2020-03-23 20:40] rafaelpivato commented on #179
Click 7 and up is being used now.

https://travis-ci.org/github/pyupio/safety/jobs/666031934#L225

[2020-03-23 20:40] #179 closed

[2020-03-23 20:44] rafaelpivato commented on #166
Are you still getting this? If so, can you please share the stack trace?

[2020-03-23 20:51] rafaelpivato commented on #158
Fixed with this line specifically: https://github.com/pyupio/safety/pull/159/files#diff-dd9229c2c5d9af0b412c58e591793108R73

[2020-03-23 20:51] #158 closed

[2020-03-23 21:12] rafaelpivato commented on #153
Thanks for reporting this, and sorry for taking so long to give you a feedback. We just tested this on a Windows 7 machine and the exit code looks good. I will be closing this but feel free to let us know if you still have issues.

[2020-03-23 21:12] #153 closed

[2020-03-23 21:14] rafaelpivato commented on #147
Just in case, you can use the **--full-report** option. Let me know if that is not enough.

[2020-03-23 21:14] #147 closed

[2020-03-23 21:16] rafaelpivato commented on #135
This sounds indeed like a great idea. Good to know you did find a workaround! :tada:

[2020-03-23 21:27] rafaelpivato commented on #131
Well done looking into Safety reporters. At this moment we have merged some code changes that will print warning messages and errors to stderr. Reports themselves are not actual errors, so they get not written to stderr. What we could have is some special kind of reporter writing vulnerable packages to stdout.

Maybe some **ci-reporter** that would dump verified packages to stdout and vulnerables

[2020-03-23 21:30] rafaelpivato commented on #128
I'm wondering what would be the fallback decision? Should we look into current working directory for the included file named `requirements.txt`? Or should we just ignore and warn about those when we are reading from stdin?

[2020-03-23 21:32] rafaelpivato commented on #128
Just for the records, a nice-to-have feature would be supporting HTTP URLs right away, and be able to perform such relative references.

[2020-03-23 21:55] rafaelpivato commented on #119
I know this has been around for quiet a while now, but I would need another feedback from anyone who is still experiencing this with latest version. If you do, please write me down your Safety version, your operating system and your complete stack trace.

[2020-03-23 22:00] rafaelpivato commented on #108
Apparently #218 might solve your issue here. Well, at least to integrate safety with your setup.py. Now, to literally scan a setup.py file "from outside" as a static analyzer, then we might need [dparse support](https://github.com/pyupio/dparse/issues/2) and a better use of **dparse** by Safety.

[2020-03-23 22:02] rafaelpivato commented on #100
Closing this as it is apparently fixed given the conversation above. Let me know otherwise, please.

[2020-03-23 22:02] #100 closed

[2020-03-23 22:03] rafaelpivato commented on #76
Fixed with 1.8.5 - Thanks!

[2020-03-23 22:03] #76 closed

[2020-03-23 22:40] bmoe872 commented on #166
I went to something else after submitting this ticket, and I'm honestly not even sure what project I was running this on. I just installed and ran the command following the same steps I outlined, and I was not able to reproduce the issue.

Not sure what I was getting at 1.5 years ago.

[2020-03-24 19:27] rafaelpivato commented on #166
Thanks for your time and your patience going through this again.

[2020-03-24 19:27] #166 closed

[2020-03-24 19:35] rafaelpivato commented on #132
We are not actually using **dparse** with recursive parsing, but at least we can now minimally handle `-r` option.

[2020-03-24 19:35] #132 closed

[2020-03-24 19:49] janusheide commented on #119
Still experience this error

Using safety 1.8.7
On a github windows-latest runner (https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md)

I get the following:

[code]

[2020-03-26 01:13] rafaelpivato commented on #71
@ohlr at this moment we are pushing most of our efforts toward fixing some outstanding bugs. If you want to push a pull-request for this, it would be very welcome.

[2020-03-26 01:42] rafaelpivato commented on #119
@janusheide thank you very much for such details. That confirmed my hypothesis. This stack trace confirms the error was dumping a report to standard output:

[code]

Our JSON Formater is using a special character to draw the framing that is not being mapped properly. This console session shows the issue:

[code]

So, we need some code that will either decode properly or just change that ASCII art

[2020-03-26 06:57] janusheide commented on #119
Thanks for you quick response and shedding some light on the problem! To me just using a conforming character is the simpler, faster and more future prof approach, so that would get my vote :)

If there is something I can do to help, please let me know.

[2020-03-27 18:25] Richard-Barrett opened #292 "An Exception Occured from SSL Error"
* safety version: safety, version 1.8.5
* Python version: Python 3.8.0
* Operating System: Windows
[code]

### Description

I tried to run a safety check today and the output did not work lie usual.
As a result I got an excetion error and a python trace back
### What I Did

[code]

[2020-03-27 22:30] #119 closed

[2020-03-27 22:39] rafaelpivato commented on #292
This looks like a communication error while trying to download the open source database version from GitHub.

We should add a friendlier message for that anyways, instead of dumping a confusing traceback. There is also an open pull-request that might positively impact on this (#203).

[2020-03-27 22:40] rafaelpivato commented on #292
@Richard-Barrett are this still happening or you got this one/few times only?

[2020-03-27 22:47] rafaelpivato commented on #237
This relates to #292

Assuming this occurs due bad networks conditions or broken connections, we might just need a better error handling and message here.

We can have a positive impact if we get #203 merged as well.

[2020-03-27 22:48] rafaelpivato commented on #292
Duplicate of #237

[2020-03-27 22:48] #292 closed

[2020-03-27 23:36] #128 closed

[2020-04-02 11:05] bac opened #294 "Allow pointing to an specific virtual environment"
* safety version: 1.8.6
* Python version: 3.*
* Operating System: All

### Description

Feature request:
The remediation advice for CVE-2020-5252 means safety cannot be run inside a virtual environment. Instead one must install safety into a clean environment and run there. This requires either pointing it at a requirements.txt file or using `pip freeze` from inside the target venv to feed to safe

[2020-04-02 15:49] harlekeyn commented on #240
I have looked at all issues raised in this thread and concluded that they are all now solved.

The PyUp team acknowledges that we were behind for quite a while. However, we're back on track now.

Yesterday, we sent out an apology email to all our users.

[2020-04-02 15:49] #240 closed

[2020-04-07 16:27] rafaelpivato commented on #294
Thanks for that, @bac -- As you can see at https://github.com/pyupio/safety/security/advisories/GHSA-7q25-qrjw-6fg2 and https://pyup.io/posts/patched-vulnerability/ we have some mitigation options for that.

Anyway, pointing to an specific virtual environment sounds like a good new feature. Let me just state that there are package loading mechanisms that Safety itself does not intend to re-invent.

[2020-04-09 14:39] lanzz opened #296 "dparse-0.5 is broken on Python 2"
* safety version: 1.8.7
* Python version: 2.7.15
* Operating System: macOS, Ubuntu

### Description

`safety` has a dependency on `dparse>=0.4.1`, but on 2020/03/14 `dparse` released version 0.5 that only supports Python 3.x, but does _not_ have a `python_requires = '>=3.0'` constraint in its `setup.py`, so `pip` will happily install v0.5 in Python 2 environments.

`dparse-0.5` will assume anythin

[2020-04-10 16:15] afedosenko opened #297 "Faker issue"
* safety version: 1.8.7
* Python version: 3.5.9
* Operating System: macOS, Ubuntu

### Description

The `safety check` command show next:
<img width="577" alt="Снимок экрана 2020-04-10 в 19 12 40" src="https://user-images.githubusercontent.com/1413044/79005331-46e8e880-7b5f-11ea-9fcd-abaab2b2a215.png">
But  the "faker" package has only the 2.0.5 and less versions from 2.x versions, then 3.x versio

[2020-04-10 16:22] afedosenko commented on #297
Json:
[code]

[2020-04-10 17:43] harlekeyn commented on #297
You're right. Safety confused [Faker (for Python)](https://github.com/joke2k/faker) with [Faker (for Ruby)](https://github.com/faker-ruby/faker).

Fixed.

[2020-04-10 17:43] #297 closed

[2020-04-10 20:01] bac opened #298 "Vendor dependencies to avoid CVE-2020-5252 issues"
* safety version: 1.8.7
* Python version: >=python 3.6
* Operating System: CentOS 7

### Description

After the disclosure of CVE-2020-5252 `safety` began distributing binaries. The binary for linux does not work on CentOS, at least without having a specific version of `glibc`. Digging in it seems the linux binaries are built specifically for Ubuntu without explicitly saying so on the releases pag

[2020-04-16 21:08] pzelnip opened #299 "Support for partly pinned dependencies"
* safety version: whatevers in the pyupio/safety:latest Docker image
* Python version: whatevers in the pyupio/safety:latest Docker image
* Operating System: OSX

### Description

For Django I want to run the latest LTS version, which (currently) means anything less than 2.3.  Putting this into a requirements.txt file:

[code]

Gives me that, but if I do that then Safety reports:

[code]

Ideally

[2020-04-17 13:54] Spenhouet commented on #251
I got confused here too so just as a note:

I did expect the following to work similar to `safety check`:

[code]

But the check methods requires all of these parameters: `packages, key, db_mirror, cached, ignore_ids, proxy` and does not collect these or have defaults like the `safety check` execution does.

Maybe that is also what @maaaaz was missing.

[2020-04-21 20:52] rafaelpivato commented on #251
True story, @Spenhouet - I think we might need to deviate from **click** maybe, or just add a better layer in-between.

[2020-04-22 09:12] pawamoy commented on #201
For reference:
- issue in pyup: https://github.com/pyupio/pyup/issues/332#issuecomment-617404902
- issue in dparse: https://github.com/pyupio/dparse/issues/36

[2020-04-22 23:30] rafaelpivato commented on #296
Python version was dropped with version 0.5 you can still use 0.4 anyway. There is a bug anyway with the published package that does not includes `py_requires` attribute.

[2020-04-22 23:53] rafaelpivato commented on #296
We are open to consider whether Python 2.7 support should be back to master branch. At this moment, if you depend on Python 2.7 you should be able to use dparse version 0.4.

[2020-04-22 23:53] #296 closed

[2020-04-27 02:01] ASVincent opened #301 "Guidance on licensing this tool"
* safety version: N/A
* Python version: N/A
* Operating System: N/A

### Description

From this repository I don't have a clear idea of the license of using the updated-once-a-month cli implementation provided by this repository. This repository is licensed as MIT, but the dataset that it uses is licensed as non-commercial only (If I read it correctly).

It'd be great to have a few common uses cas

[2020-04-29 09:20] dumol commented on #153
Thanks for checking it! I can't see it being on issue on our Windows slaves either.

However, this was reported on XP, and I think at that time we only built our Windows Python package on XP. In the meantime, we switched to building on Windows 2016 and 2019.

[2020-04-29 20:08] harlekeyn commented on #301
Hello @ASVincent,

Aside from what is written in [our FAQ](https://pyup.io/help/faq/), we can discuss an ad hoc license in special cases. Please reach out to us by email to discuss your specific situation: support@pyup.io.

I can see your point of also giving licensing details about various atypical scenarios, but we presently do not have that list available..

Tristan

[2020-04-29 20:08] #301 closed

[2020-05-08 07:48] Zoynels opened #302 "Add CLI option to disable the security certificate check in Python requests"
* safety version: 1.9.0
* Python version: Python 3.8.2
* Operating System: Windows 10

### Description

I have proxy server which breaks ssl sertificates. So I can't get database though fetch_database_url(). now I manualy change line:
[code]
to
[code]
Can you add cli option to ignore SSL certficate like [https://stackoverflow.com/questions/15445981/how-do-i-disable-the-security-certificate-check-i

[2020-05-08 19:38] stevecj commented on #135
Installing the requirements is an awkward workaround when there are both development and production packages. Development dependencies are generally included in the frozen constraints.txt, even though they do not need to be checked.

Ideally, packages to scan would be determined by following the dependency tree from packages in requirements.txt, then versions of those would be determined from the

[2020-05-22 10:47] pawamoy commented on #201
I'm now using

[code]

...instead.

- `pip freeze` was also showing the current package as an editable install, that I had to filter out with an additionnal `grep -v` pipe (with ugly regex to match underscores/dashes and upper/lower case). `poetry export -f requirements.txt` don't show dev dependencies, which is good since I don't care if they have CVEs as they are not part of the published packag

[2020-05-22 12:42] cjolowicz commented on #201
You can run safety in an isolated environment, and still track it as a development dependency in Poetry:

[code]

This works best when automated with [Nox](https://nox.thea.codes/).

Here is an article that describes the technique in more detail (disclaimer: I'm the author):
https://medium.com/@cjolowicz/hypermodern-python-3-linting-e2f15708da80

[2020-06-03 17:35] northdpole opened #304 "Please tag docker image with version"
* safety version: latest
* Python version: python3.7
* Operating System: Linux

### Description

Hey safety maintainers, thanks a ton for the great tool!
Could you please release appropriately tagged versions of the corresponding docker [image](https://hub.docker.com/r/pyupio/safety/tags)?
It seems there is only the "latest" image available which makes docker image pinning a nightmare.

Docker ima

[2020-06-22 15:07] graingert opened #306 "support shell globs with a new command that takes multiple file options"
* safety version: NA
* Python version: NA
* Operating System: NA

### Description

I'm trying to run `safety check -r **/requirements*.txt` but `-r` only allows one command

introduce a new command that supports unixy `[FILE...]`
`safety check_requirements [OPTION...] [FILE...]`

[2020-06-23 04:47] lf1up commented on #306
@graingert thank you for this case. You are right, at this moment `-r` allows only one file per option. You need to use `-r` option multiple times if you want to pass more files (https://click.palletsprojects.com/en/7.x/options/#multiple-options). There is no `[FILE...]` support due to the `click` library limitations (we are using this library to parse command line args: https://github.com/pallets

[2020-06-23 10:48] graingert commented on #306
@lf1up https://click.palletsprojects.com/en/7.x/arguments/#variadic-arguments it looks like you can pass `nargs=-1` now

[2020-06-23 10:57] lf1up commented on #306
@graingert at this moment we are using `@click.option` almost everywhere. Possible usage of `@click.argument` should be considered and tested, because it is not an equivalent (drop-in) replacement.

[2020-07-13 06:15] Spenhouet opened #307 ""Unable to load vulnerability database""
* safety version: 1.9.0
* Python version: 3.7
* Operating System: Windows 10

### Description

Savety does not work and only outputs "Unable to load vulnerability database".

Maybe this is just a temporary issue (or something local?).
If this is not an issue for anyone else, then please point that out and just close this issue.

[2020-07-13 06:32] Spenhouet commented on #307
It now only works sporadically.

[2020-07-13 15:19] Spenhouet commented on #307
It seems to work again.

[2020-07-13 15:19] #307 closed

[2020-07-13 21:46] harlekeyn commented on #307
Hello @Spenhouet / Sebastian.

Our service was down twice for less than a minute yesterday. We were also down for a third time, and this was for about one full minute. It could be that you were trying to access our service exactly at those moments, or perhaps there indeed was some local issue for you.

In any case, I'm glad to see that everything is working again for you now.

Tristan

[2020-08-14 09:42] normoes opened #309 "Python dependency is compared to the wrong project"
* safety version: 1.9.0
* Python version: 3.7
* Operating System: alpine docker image

### Description

`safety` compares the pypi `monero` package with a different package, maybe with the `monero` project (https://github.com/monero-project/monero) itself?

The most recent release of the `monero` package installed: `pip install monero==0.7.3` is in fact `0.7.3`.

So, I assume, something might be w

[2020-08-14 11:27] normoes commented on #309
Closing this issue, because I created another one here: https://github.com/pyupio/safety-db/issues/2318

[2020-08-14 11:27] #309 closed

[2020-08-25 22:46] wojtek-fliposports opened #310 "Database wrong entry of CVE-2020-7694 and CVE-2020-7695"
* safety version: 1.9.0
* Python version: 3.7.3
* Operating System: OSX 10.15.6

### Description

safety has wrong database error about uvicorn and CVE-2020-7694, CVE-2020-7695.
[code]
That vulnerability has been resolved 0.11.7

### What I Did

[code]

[2020-08-25 23:00] harlekeyn commented on #310
Duplicate of [2314](https://github.com/pyupio/safety-db/issues/2314).

[2020-08-25 23:00] #310 closed

[2020-09-03 15:31] mcandre commented on #302
This x1000. For all corporate coding work.

[2020-09-03 15:39] mcandre opened #313 "Option for proxy credentials"
In order to support more corporate environments.

[2020-09-03 15:40] mcandre opened #314 "Support for more proxy protocols"
Namely SOCKS and basic TCP/IP, in order to support more corporate environments.

[2020-10-05 18:19] Bokoblin commented on #253
Also upvoting this issue as I tried today to convert the JSON output to a JUnit format (with Cucumber-JSON-to-JUnit) because the CI in my company needs it.
However Cucumber failed to parse the JSON stating it was invalid (though valid per RFCs), so we would also need a more standard JSON output

[2020-10-12 11:31] synergiator opened #319 "Scan is not happening?"
* safety version: 1.9.0
* Python version: 3.8.5
* Operating System: Xubuntu 20.04 LTS

### Description

I want to scan dependencies for this requirements file:

[code]

### What I Did

[code]
### Result

[code]

[2020-10-12 12:10] nicholasks commented on #319
Hey @synergiator,
It looks like you requirements file is missing one `=`, it should be something like this:
[code]
which will output the result:
[code]

[2020-10-12 12:10] #319 closed

[2020-10-12 12:14] nicholasks commented on #319
Feel free to open a new issue if you still having issues.

[2020-10-23 14:46] dugdug36 opened #320 "How we can manage not "==" in requirements.txt ?"
* safety version:lastest
* Python version:3
* Operating System:Linux

### Description

Hello,
As you know we have many differents way to put requirements.txt:

~=: Compatible release clause
!=: Version exclusion clause
<=, >=: Inclusive ordered comparison clause
<, >: Exclusive ordered comparison clause
flask: without version
===: Arbitrary equality clause.
https://www.python.org/dev/peps/pep-0440

[2020-10-23 14:52] dugdug36 opened #321 "Manage Pipfile.lock/Pipfile"
* safety version:lastest
* Python version:3
* Operating System:Linux

### Description

Safety didn't manage Pipfile/Pipfile.lock yet.

### What I Did
I use library to convert PipFile in requirements.txt. Its can be good idea for temporary usage ?.

https://pypi.org/project/pipenv-to-requirements/
[code]

[2020-10-23 14:57] dugdug36 opened #322 "Support CVSSS3 scoring on results"
* safety version:Lastest
* Python version:3
* Operating System:Linux

### Description

When its possible, Its can be good idea to put CVSS3 metric inside output results for better understanding.

[2020-10-24 23:10] harlekeyn commented on #322
We do offer this, actually. But only for enterprise account…

[2020-10-24 23:10] #322 closed

[2020-11-04 15:42] EugeniuZ opened #323 "Add environment variable for ignoring some checks"
* safety version: 1.8.1
* Python version: 3.7.5
* Operating System: Ubuntu 18.04

### Description

It would be handy to be able to disable globally some checks.
My use case: I have a Bamboo server that runs the safety checks on multiple projects. Whenever there is a check I want to ignore I have to add the exception to each project (with `-i <number>`). It would be handy to define an environment v

[2020-11-27 21:10] harlekeyn commented on #323
Added to our wish list. Thanks, @EugeniuZ

[2020-11-27 21:10] #323 closed

[2021-01-04 14:43] pzelnip opened #333 "When will the pyupio/safety:latest Docker image be updated to latest version?"
### Description

Safety 1.10.1 is now out, but it appears that the `pyupio/safety:latest` Docker image on Dockerhub is still 1.9.0:

[code]

When will the image on Dockerhub be updated with v1.10?

[2021-01-07 19:38] staticdev opened #334 "Breaking change on 1.10.0?"
* safety version: 1.10.0, 1.10.1 and 1.10.2
* Python version: 3.9.1
* Operating System: ubuntu-latest

### Description

I have many projects using safety for some time now. After upgrading from 1.9.0 to 1.10.0, all pipelines break (also running locally). Also 1.10.2 did not fix the issue.

### What I Did

I use a nox session with the command `safety check --file=requirements.txt --bare`

Error:

[

[2021-01-13 08:30] epenet commented on #334
It is likely to be due to the january update of the safety database (not an issue with the safety package)

You should investigate the underlying packages - possibly `py`.
Check this PR on my project: https://github.com/hacf-fr/renault-api/pull/127

[2021-01-13 08:36] staticdev commented on #334
@epenet I thought it could be something like that. But should´t we see the result instead of just an error code? If is just a new package that is insecure I should see that on the execution logs, right?

[2021-01-13 08:52] epenet commented on #334
If you remove `--bare` from the safety check, then it will display the details.
The `--bare` is added to reduce exposure (you don't want the whole world to know what makes your package insecure) but you can remove it temporarily on your local system.

[2021-01-19 19:04] staticdev commented on #334
@epenet you are correct, taking off --bare I could see the problem. This is strange, because with --bare I should be abre to see. Anyhow I don't have a way to reproduce this non-output case so I am closing this issue (can also be already fixed in latests). Thanks.

[2021-01-19 19:04] #334 closed

[2021-01-29 06:54] nzk1912 opened #335 "How to download licenses.json file？"
as the title~

[2021-02-15 06:06] lucomsky opened #336 "Add pre-commit hook"
* safety version: any
* Python version: any
* Operating System: any

### Description

Add pre-commit hook to safety repository so one can use it directly in `pre-commit-config.yaml`
[code]
See https://github.com/rubik/xenon/blob/master/.pre-commit-hooks.yaml for example.

[2021-02-23 20:35] hett39 opened #337 "get list of all modules scanned"
Get list of all modules that are scanned instead of getting just count of modules

[2021-02-25 15:42] dr47 opened #339 "Confusing "Development status" (pre alpha) on pypi.org?"
* safety version: all
* Python version: all
* Operating System: all

### Description

Pre-Alpha development status is displayed in pypi.org.
It is true?
If not, is it possible to correct the status?
It yes, do you plan to stabilize safety for use in a production environment? (status = stable)

### What I Did

[code]

[2021-02-26 22:42] jholland-usgs commented on #302
Until this enhancement is done (or if you do not want to disable ssl verification), this may help some users get safety running in these types of environments.

The root issue appears to be that the requests library doesn't look at system based ca-certs. Instead it looks at certifi certs

A temporary fix to work around the invalid certifi cert is by overwriting it with a valid cert.

For instance

[2021-03-08 19:22] adevore commented on #253
As a workaround, this jq filter will make the transformation as part of a pipeline:

[code]

The enclosing square brackets can be omitted to produce the JSONL format, if desired.

[2021-04-06 17:21] damiencarol commented on #339
it's because of this line https://github.com/pyupio/safety/blob/55cc69d40418424d4fdb776963dbf48ed2f7fa4f/setup.py#L45

[2021-04-16 16:11] bagerard opened #341 "Let 'ignore' take a list of coma separated ID"
As it is now, in case we want to ignore multiple vulnerabilities, we have to use
`safety check -i 1234 -i 4567 -i 89101`

I'd like to suggest to start supporting coma separated list in a similar fashion as well known similar tools are doing (flake8, pylint, etc)

`safety check -i 1234,4567,89101`

Would you welcome a PR?

[2021-04-19 22:32] krasnovmv commented on #336
Why [pre-commit-hooks-safety](https://github.com/Lucas-C/pre-commit-hooks-safety) is not suitable?

[2021-04-28 10:45] Jesse-Bakker commented on #336
One uses safety to check for known vulnerabilities in dependencies. Using safety from a third-party source kinda defeats the purpose

[2021-05-12 10:49] chandanch opened #342 "App Broken due to breaking Changes"
* safety version: 1.10.3
* Python version: 3.6
* Operating System: Ubuntu 20.4

### Description

Pin werkzeug library to 1.0.1 version since there are breaking changes in that version and which is breaking the applications.

### What I Did
Upgrading werkzeug to 2.0.0 is breaking the application. Please specify the version to 1.0.1

[2021-05-12 12:21] yeisonvargasf commented on #342
Hi @chandanch, could you please post more info related to the error thrown by safety? also, how are you using safety (which command are you using)?

[2021-05-12 12:22] yeisonvargasf commented on #341
Hi @bagerard , sure! A PR is welcome!

[2021-05-13 06:23] damiencarol commented on #339
@yeisonvargasf do you accept PR? I can have few proposal to improve this part (not only some flags)

[2021-05-13 21:27] bagerard commented on #341
@yeisonvargasf Could you provide me with some guidance regarding the API change.
I guess there are 2 options:
1) breaking change
[code]

2) non breaking change
safety check -i 1234,4567            # works
safety check -i 1234 -i 4567         # fails

[2021-05-25 16:17] adiroiban commented on #339
Also if handling this, maybe  in setup.cfg also remove the universal build as only py3 is supported.

https://github.com/pyupio/safety/blob/55cc69d40418424d4fdb776963dbf48ed2f7fa4f/setup.cfg#L2

Right now the download file is named `safety-1.10.3-py2.py3-none-any.whl `

[2021-05-25 21:19] Midnighter opened #344 "Would it make sense to add an option to ignore packages?"
There recently was a vulnerability with pip that caused many of my pipelines to break. Those cases are about libraries/packages so pip is not a direct dependency but, of course, present in the environment. Since pip is not a direct dependency and I don't want to control my users' environments, the best option is to ignore checking pip. I know that I could generate a requirements file for my packag

[2021-05-25 21:52] Midnighter commented on #344
I was just thinking, maybe

[code]

is a quick solution?

[2021-07-08 13:40] rafaelpivato commented on #253
@harlekeyn can you look at this too?

[2021-07-08 14:44] pawamoy commented on #253
My code recently broke indeed, because of added fields.

[2021-07-22 10:25] resmit opened #345 "SSL: CERTIFICATE_VERIFY_FAILED"
* safety version: 1.10.3
* Python version: 3.6.8
* Operating System: Mac Mojave 10.14.6

### Description
I have suddenly started getting SSL: CERTIFICATE_VERIFY_FAILED errors.
safety was working perfectly fine.
I have reinstalled the library, but get the same error.

### What I Did
safety check
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3

[2021-07-22 14:03] yeisonvargasf commented on #345
Hi @resmit , I'm not able to replicate this issue, the error suggests 'raw.githubusercontent.com' is serving a wrong certificate, but I think this is unlikely, could you check from your side? the cause of the error could be a software blocking the communication with Github servers.

[2021-07-22 14:07] yeisonvargasf commented on #339
sorry late answer, PRs are welcome.

[2021-07-27 10:38] resmit commented on #345
Hi Yeison,

Looks like a certificate error on my end. Not software blocking access.

curl https://raw.githubusercontent.com

curl: (60) SSL certificate problem: unable to get local issuer certificate

One guess is:  old cert.pem file.

Will investigate.

Thanks.

Rick Smith
Lead Developer

 Cyberseer Limited
10 Lower Thames Street, London, EC3R 6AF
T:  +44 (0)203 823 9030 | M: +44 (0)7981 893897
E

[2021-08-02 09:07] sobolevn opened #346 "`--bare` and `--full-report` should be mutually exclusive"
I ran into this problem way too often 🙂

Like here: https://github.com/wemake-services/docker-image-size-limit/blob/4b9a9c690d6b4ce2d90419ac9bed13f6898659af/.github/workflows/test.yml#L48

I propose to make `--bare` and `--full-report` CLI options for `check` command mutually exclusive. So, passing `safety check --bare --full-report` would result in `ArgumentError`. Right now it fallbacks to `--ba

[2021-08-02 10:06] sondrelg opened #347 "Support reading versions from URL"
* safety version: 1.10.3
* Python version: 3.9.6
* Operating System: MacOS

### Description

Hi!

I'm using Safety with [poetry](https://python-poetry.org/) which we run in our CI pipeline like this:

[code]

This has worked fine, until today where I'm now seeing this warning output by `safety`:

[code]

This seems to be explained by the output of the poetry export producing this:

[code]

### Fea

[2021-08-03 18:32] pawamoy commented on #298
But, aren't all Python packages subject to dependency compromission? Do you mean that because safety is a security tool, it should take the extra step of vendoring dependencies? Note that users would still need to control their env or install it in an isolated env, since vendoring dependencies would not prevent malicious packages adding `.pth` files into `site-packages` from altering safety's beha

[2021-08-03 20:55] bac commented on #298
Hi Timothée, please review the linked CVE, which was filed by Pyup themselves and the link to `pip` in my comment.

Based on your comment I'm not sure you understood what I meant by "vendoring".  I am suggesting safety track vetted versions of all of their dependencies in their repository and package. By doing that there is no way for a dependency author to sneak in a compromise.

[2021-08-03 21:59] pawamoy commented on #298
That's what I understood, yes.

I did.

I understand the initial issue: the safety binaries provided by pyup do not work on CentOS.
But then I don't get what dependency vendoring has to do with this?

And then:

The risk described in the CVE is actually that a malicious package, *be it a dependency of safety or not*, can make Python run arbitrary code at load time, allowing to "disarm" safety chec

[2021-08-03 22:24] pawamoy opened #348 "CVE-2020-5252: another mitigation suggestion"
I believe it is possible to "undo" the patching of a malicious package as described in CVE-2020-5252, *only if* you are running safety as a library, in the same venv/process:

[code]

Maybe this could be done in safety itself, for example in the `check` click command body? But I guess it would be playing cat and mouse with exploit writers since that would be an "official" mitigation users rely upo

[2021-08-04 07:11] SmokinCaterpillar opened #349 "pipenv check safety fails with an unfixable error for plotly dash"
We use the newest dash library `1.21.0`. However, if we run `pipenv check --system` it fails with the following error:

[code]

Problem is there exists no PyPi package of Dash with version 2.2.0, 1.21.0 is the newest version. How to fix this? Thanks!

[2021-08-04 07:44] domdfcoding commented on #299
Along the same lines, Safety skips requirements with only a lower bound (e.g. ``idna>=2.5``), which is the standard way of specifying dependencies for libraries. I would expect Safety to warn about any issues present in, for this example, idna 2.5 and later in the same way it would if the requirement was ``idna==2.5``.

[2021-08-09 15:20] rhunwicks commented on #349
Is the issue that the security fix required is in Plotly.js 2.2.0 or 2.2.1, which is bundled in Dash 1.21.0 - see https://github.com/plotly/dash/blob/dev/CHANGELOG.md#1210---2021-07-09?

[2021-08-18 06:29] SmokinCaterpillar commented on #349
Ah okay, thanks, but then the error message `Dash 2.2.0 includes a security fix.` is quite misleading.

[2021-08-18 08:15] adriantorrie opened #350 "False "affected" for Python package: httpx-gssapi"
* safety version:  1.10.3
* Python version: 3.9.6
* Operating System: Debian Buster

### Description

Running safety checks in CI provides a false "affected" for `http-gssapi` of  `<0.6`. There is no such release for that package. It looks they have changed their SEMVER convention January 2021, and restarted at `0.1`, which is lower than the "affected".

### What I Did

[code]

Screenshot of `http

[2021-08-18 08:27] adriantorrie opened #351 "Feature request: ignore file"
## Request
- Add `--ignore-file`

## Detail

Currently there is `--ignore` which is fine for command line driven interaction, however most CI tools allow ignore files to be passed in so the "ignores" for a project can be managed via pull request/code review (and therefore allowed by exception).

I've raise #350 just now, and because there isn't a fix, this will block our CI pipelince from completi

[2021-08-19 12:13] andrew-lub opened #352 "Replace '#' symbol in all logos to '█'"
* safety version: latest
* Python version: 3.8
* Operating System: Linux

### Description

I think the logo will be much more readable in terminal with the symbol I provided.
So now we have:
![image](https://user-images.githubusercontent.com/41436539/130065808-fd5e70f8-3214-422b-81ca-3cdbeecc221a.png)

And after the change it will be like:
![image](https://user-images.githubusercontent.com/4143653

[2021-08-19 12:31] millenc opened #353 "Report contains lots of duplicated vulnerabilities with tensorflow==2.4.0 and the commercial database"
* safety version: `1.10.3`
* Python version: `3.7.10`
* Operating System: Ubuntu 20.04

### Description

The safety report (either `--full-report` or `--short-report`) is huge and contains lots of duplicated lines when tensorflow `2.4.0` is installed and an API key is used.

### What I Did

1. Create a fresh virtual environment: `virtualenv -p /usr/bin/python3.7 ~/.envs/tensorflow`
2. Activate the

[2021-08-19 14:29] yeisonvargasf commented on #353
Hi @millenc , thanks for report this, looks like a bug in the Safety report only with Tensorflow, we are going to verify and inspect the possible cause and we will apply a fix as soon as possible.

[2021-08-20 12:04] dmerejkowsky opened #354 "ModuleNotFound: pkg_resources when running `safety check` with Python 3.10"
* safety version: 1.10.3
* Python version: 3.10rc1
* Operating System: Linux

### Description

Running `safety check` with safety installed via poetry and Python 3.10 raises ModuleNotFound: pkg_resources

### What I Did

[code]

[2021-08-20 12:07] dmerejkowsky commented on #354
Sorry - was using a corrupted virtual env. Closing

[2021-08-20 12:07] #354 closed

[2021-08-24 13:24] andrew-lub commented on #352
@Jwomers, could you please take a look?

[2021-09-09 06:50] joosbuijsNL opened #356 "Feature request: run from Python"
* safety version: 1.10.3
* Python version: 3.6/3.7/3.8/3.9
* Operating System: Windows

### Description

We would like to implement a check at the beginning of our code whether all used packages are safe, according to 'safety'. Is it / would it be possible to run safety from Python, inspecting the current work environment, and allowing the Python code then to determine whether it can continue safe

[2021-09-14 20:18] #353 closed

[2021-09-14 20:24] yeisonvargasf commented on #353
@millenc I closed this issue because it was fixed in our backend side, no update is needed, so you should be able to see the fix with no action from your side. Let me know if it's ok for you, don't hesitate to reach us if there is another issue.

[2021-09-15 07:50] millenc commented on #353
@yeisonvargasf I can confirm that the issue appears to be fixed. I've tried using safety on a fresh project with `tensorflow==2.5.0` (one of the affected versions) and the report looks good now.

Thank you very much for your support!

[2021-10-19 20:12] cedric-orange opened #357 "Could you update python version in dockerfile ?"
### Description

Python version in docker is actualy 3.6, as you know python 3.6 is eol in 2 months : https://endoflife.date/python
Could you build a new version of this container with an updated python version.

[2021-11-02 21:51] yeisonvargasf commented on #350
Hi @adriantorrie , thanks for reporting this, I confirm you this was solved.

[2021-11-02 21:51] #350 closed

[2021-11-02 22:01] yeisonvargasf commented on #349
Hi, thanks for comment about the misleading description of the vulnerability, @rhunwicks is right.

That vulnerability was updated in our database, so I will close this issue.

[2021-11-02 22:01] #349 closed

[2021-11-04 15:21] resmit commented on #345
Hi Yeison,

A little late, but found problem. I was logged into a vpn and some software was blocking access.
No vpn connection everything is ok. Sorry for the wild goose chase.

Rick Smith
Lead Developer

 Cyberseer Limited
10 Lower Thames Street, London, EC3R 6AF
T:  +44 (0)203 823 9030 | M: +44 (0)7981 893897
E: ***@***.******@***.***>
W: www.cyberseer.net<http://www.cyberseer.net/> ***@***.***<

[2021-11-20 20:45] bagerard commented on #336
I'd like to revive this post. Many of the well known code-quality tools have integrated pre-commit in their own repository (pylint, flake8, bandit, black, isort, etc), an assumption of the pre-commit tool is that you trust the hooks so as Jesse-Bakker said, having an unnecessary dependency is adding security risk.

If you are willing to accept a PR, let me know. More than happy to help on this.

A

[2021-11-29 16:40] #345 closed

[2021-11-29 17:08] yeisonvargasf commented on #197
Hi @pdmayoSFI, thanks for reported this, at the moment `safety` with `--full-report` option shows the severity rating (For CVEs and own PyUp vulnerabilities too) using the CVSS framework. If you want to be able to get the data, it requires a subscription (a KEY will be needed in the Safety CLI).

I'm going to close this issue, as it's solved.

[2021-11-29 17:08] #197 closed

[2021-12-02 10:42] sparrowt commented on #147
I realise this is an old issue so happy to open a new one, but it would really help if the `"cve"` field from `insecure_full.json` was returned by `safety.check`. I don't see any equivalent to the `--full-report` option you mentioned, for use when calling `check()` programmatically.

[2021-12-24 07:06] minyoung90 opened #360 "safety check is done successfully but exit code is 255"
* safety version: 1.10.3
* Python version: 3.9
* Operating System: ubuntu 20.04

### Description

I ran this command

[code]

This makes some script pipelines be failed because of exit code (what I expected...)

### What I Did

I don't know how to deal with it.
Below is my setting.

[code]

[2021-12-24 07:14] minyoung90 commented on #360
My mistake, I just added ignore setting to only pre-commit setting!

[2021-12-24 07:14] #360 closed

[2022-01-03 12:59] RomainGuilloux opened #361 "ansible_tower_cli false positive"
* safety version: 1.10.3
* Python version: 3.6.8
* Operating System: CentOS Linux 7 (Core)

### Description

It looks like there is a fall positive for the ansible_tower_cli analysis.
In pypi the latest version is 3.3.9

https://pypi.org/project/ansible-tower-cli/#history

### What I Did

[code]

[2022-01-05 20:20] lifenautjoe commented on #351
Yes please! Hardcoding them into our build pipelines is nasty :-(

[2022-01-05 20:21] Jwomers commented on #351
Agreed! This is on our short term roadmap :)

[2022-01-11 20:44] albertcrowley commented on #351
Below is a workaround that I've implemented using shell commands for a CircleCI pipeline. It's a new commit on our end so I don't have high confidence in it, totally could have obvious bugs, but it's working in testing so far.  The pipeline fails if any issue is found in a dependency that isn't listed or is expired in the dependency.ignore file.

[code]

Here is an example dependency.ignore file:

[2022-01-12 01:31] albertcrowley commented on #351
I put together a possible fix for this and made pull #362

[2022-01-13 02:39] SCH227 commented on #361
Romain, thank you a lot for contacting.
The mistaken entries have been already corrected in our db.
Thank you again!

[2022-01-18 19:53] yeisonvargasf commented on #352
Hi @andrew-lub , thanks for reporting this issue and for your nice work on the #355 PR, sadly, a time ago, we decided to use only "ASCII printable characters" in the human readable output, due to compatibility issues (see #119) and there was a PR to remove all non "ASCII printable characters" before (see #293)

**Thank you again for your effort!**, I'm going to close this issue and the PR, feel fr

[2022-01-19 03:12] ctfer-Stao opened #363 "safety check is done successfully but exit code is 255"
* safety version:version 1.10.3
* Python version:3.9.6
* Operating System:mac

### Description
I use safety to check dependence.It print success result but exit code is 255
my shell command is safety check

### What I Did

[2022-01-19 03:13] ctfer-Stao commented on #363
 ~  safety check
+==============================================================================+
|                                                                              |
|                               /$$$$$$            /$$                         |
|                              /$$__  $$          | $$                         |
|           /$$$$$$$  /$$$$$$ | $$  \__//$$$$$$  /$$$$$$

[2022-01-19 14:35] yeisonvargasf commented on #363
Hi @ctfer-Stao thanks for reporting this, we are working in a full and standard support of exit codes, this probably is happening because the line below, -1 isn't a good exit code and it is falling back to 255 exit code.

https://github.com/pyupio/safety/blob/7d1448e844c1578bb1a488bffd3b8d1735c2c4bb/safety/cli.py#L85

[2022-02-01 15:20] nbhargava opened #364 "False positive for numpy"
* safety version: 1.10.3
* Python version: 3.8.12
* Operating System: Ubuntu 20.04.3 LTS

### Description

Ran `safety` against the latest update and got a report of a failure on numpy, despite being on 1.22.1.

In the free safety DB, the values for numpy are expressed as:
[code]

I'm not sure why `>0` was added in the February release, but it seems to be causing this problem

### What I Did

[cod

[2022-02-01 15:44] vinayvaddiparthi commented on #364
Thanks for reporting this. Ran into the same issue this morning.

[2022-02-01 16:41] aongus commented on #351
I'm not a safety dev, but right now there's been a flood of possibly-irrelevant CVE's filed against Python libraries. Having an ignore list would make dealing with these much easier, so I'm wondering if people can take a look at this PR and see if it would work.

[2022-02-01 17:09] Jwomers commented on #351
Hi @aongus thanks for bumping this. We are working on an ignore file support which will be released in the coming weeks. In the meantime though, we aim to have no incorrect CVEs or Vulnerability advisories, can you send us a list of which ones you consider irrelevant? Or open up an issue on this project, and we'll get them looked at immediately!

[2022-02-01 17:18] SCH227 commented on #364
Good day!
CVE-2021-41495 for NumPy haven't been fixed yet in any release. See here: https://github.com/numpy/numpy/issues/19038
Note that in the same thread, NumPy devs argue about the validity and correct severity of this issue.
To be on the security side, we chose to report this as a possible vulnerability so users of NumPy can take the best informed decision considering their use-case.

[2022-02-01 19:19] pcoccoli commented on #364
@SCH227 Unfortunately, the only thing users of Numpy can really do here is ignore `safety`.

Am I missing something here?  `numpy` is a python package; if the attacker can run arbitrary python code, then they have much better attacks available than causing a null pointer dereference inside numpy.

[2022-02-01 20:59] chakpak commented on #364
Why do you think it is a false positive and how do you plan to proceed? Ignore this safety warning?

[2022-02-02 01:14] victor-mariano-leite commented on #363
@ctfer-Stao I just had this error too, a **_bad_** workaround is too add an OR condition to the bash command:

`safety check --full-report || true`

This way the error message will show completely since the exit error is ignored. In my case there was a urllib3 and numpy vulnerability that I've added to ignore (specific case where it's a famous service locked dependency).

Might be good for debug,

[2022-02-02 16:22] emartynov commented on #364
Hi people, I was looking for the same issue. I'm coming from java/android word where use OWASP checks also. There is a mechanism to check all project dependencies and instruct it to ignore or lower the severity of the issue for specific dependency with a specific version. Would it be a good feature request for the `safety`?

[2022-02-02 17:26] shotarok commented on #364
@emartynov `safety` has the option `-i --ignore`: https://github.com/pyupio/safety/#--ignore--i. So I decided to use `--ignore 44715` to acknowledge the issue until a fixed numpy version is released in my case.

[2022-02-02 19:51] Jwomers commented on #364
We are also working on some bigger updates to Safety, including an optional local policy file where one can set thresholds for severity that get surfaced, as well as ignore certain vulnerabilities or even allow-list a package version.

[2022-02-02 23:53] efokschaner commented on #52
I'd like to +1 this suggestion, and ask for a built-in option to use safety-db, as it allows external sources of build failure to be managed with dependabot like other external dependencies changing, rather than suddenly breaking a codebase which previously passed tests (although I understand that can be considered a feature in vulnerability scanning).

[2022-02-03 07:21] fredrikaverpil commented on #364
@emartynov came to me with a nice suggestion. What if safety could have the ignores specified in a separate file?
That way you wouldn't have to put the `--ignore` in your GitHub workflows (which in my opinion should be agnostic to this, if possible). So a suggestion from me would be to support specifying the ignores in pyproject.toml.

[2022-02-04 07:14] fredrikaverpil commented on #364
So, [numpy 1.22.2](https://github.com/numpy/numpy/releases/tag/v1.22.2) is out and mentions "Deal with https://github.com/advisories/GHSA-5545-2q6w-2gh6 complaint.". However, I still get a problem reported by safety. Is this expected?

The `>0` comparison looks weird.

[code]

[2022-02-04 12:46] vinzeebreak commented on #344
I have the same problem with `pip` as @Midnighter and their solution works well for `pip`.

But I would like to have the alternative to ignore any package (instead of just a vulnerability id).

Something along the lines of:

[code]

ie. make `ignore` parse the value given and checks if it's a number (ie a vulnerability id) or a string of chars (ie a package name).

[2022-02-04 14:59] vinayvaddiparthi commented on #364
@fredrikaverpil Yes, that is expected. The error in safety check will not go away until the [safety-db](https://github.com/pyupio/safety-db/blob/master/data/insecure.json#L3827) is updated to remove the `>0` version from the list of vulnerable versions

[2022-02-05 04:38] SCH227 commented on #364
@fredrikaverpil @vinayvaddiparthi our db has been already updated and now the specs for CVE-2021-41495 are <1.22.2.
You will see this immediately in the safety db paid version, and in the next monthly update of the free db (in March).

[2022-02-05 04:38] #364 closed

[2022-02-09 08:26] Ruslan-Skira commented on #360
Explain please what does it mean --ignore=42194 (ID). Does it an issue or not?

[2022-02-12 02:22] proinsias opened #365 "Build and release an arm64 version of safety"
* safety version: 1.10.3
* Python version: Any
* Operating System: Mac and Linux

### Description

I would like to get a native build of safety for the arm64/aarch64 architecture and the Mac and Linux OSs.

But the current releases are only for the amd64/x86_64 architectures.

hadolint/hadolint#411 has some possibly relevant discussions.

[2022-02-23 15:11] millenc opened #366 "Pylint <2.13.0 unfixable vulnerability"
* safety version: 1.10.3
* Python version: 3.8
* Operating System: Ubuntu 20.04

### Description

Safety reports the following bug on Pylint:

https://github.com/PyCQA/pylint/issues/5322

as a vulnerability:

[code]

The issue here is that there is no version >= 2.13.0 (latest is 2.12.2) so we can't fix this vulnerability until the Pylint maintainers release the next minor version (2.13.0). It app

[2022-03-03 18:14] SCH227 commented on #366
Good day, thank you for reaching out!
Not reporting vulnerabilities that can't be fixed updating to the latest versions would be a high-security risk. Imagine a critical vulnerability like the recent Log4Shell going through your pipelines because of this setting.
On the other hand, to report them with an especial exit code would also lead to dangerous situations.
However, we are about to release S

[2022-03-03 18:22] SCH227 commented on #366
About the vulnerabilities in our DB, we only include 'bugs' as vulnerabilities if they impact confidentiality, integrity, or the availability of a service. For this particular case, we understand that the crash may lead to a partial or full loss of availability of a service providing Pylint extensions usage.

Let me know if you have more questions or I can be of help with another issue.

[2022-03-03 18:22] #366 closed

[2022-03-04 06:59] kasium opened #367 "Support configuration files"
* safety version: 1.10.3
* Python version: 3.7.1
* Operating System: Linux

### Description

Can you please consider to support configuration files like ``pyproject.toml`` to read the configuration from.
This would allow users to store the config in a central place:

[code]

[2022-04-05 06:16] MichalVasut opened #368 "Update Click version"
* safety version: 1.10.3

### Description

Please update Click package dependency to some newer version

https://github.com/pyupio/safety/blob/7d1448e844c1578bb1a488bffd3b8d1735c2c4bb/setup.py#L35

from my CI:

[code]

[2022-04-07 18:34] biakota commented on #102
I am facing this warming. I would like to know if it is okay?

Warning: unpinned requirement 'setuptools' found in requirements.txt, unable to check.
Warning: unpinned requirement 'requests' found in requirements.txt, unable to check.
Warning: unpinned requirement 'wheel' found in requirements.txt, unable to check.
Warning: unpinned requirement 'flask' found in requirements.txt, unable to check.

[2022-04-08 10:03] benzkji opened #369 "How to interpret the ID?"
* safety version: 1.10.3
* Python version: 3.7.13
* Operating System:

### Description

Maybe I'm really stupid, but I cannot make sense of the "ID" that the `safety check` command delivers. I looked on the safety webpage, here on github, nothing really how to make sense of it? Outputting a link would be nice ;-) What I do now, is just google the package name with the word "cve" ...not ideal. Any

[2022-04-13 08:45] itsecforu opened #370 "Using local repository"
* safety version: latest
* Python version: 3.7
* Operating System: alpine docker

### Description
I have a local pypi repository, can I use it offline when working with safety?

### What I Did

[code]

[2022-04-18 19:41] harlekeyn commented on #369
Hi benzkji,

Please try `safety check --full-report`

Tristan

[2022-04-18 19:41] #369 closed

[2022-05-05 08:27] benzkji commented on #369
Thank you! This helps alot.

Just curios, is the ID an internal https://pyup.io/ id?

[2022-06-28 09:55] princeBzik opened #388 "Support HTML report"
* safety version: 1.10.3
* Python version: 3.6.8
* Operating System: macOS/centos

### Description

An HTML report with the finding will be very helpful

[2022-06-28 13:00] insider89 commented on #388
Yeah, would be great to support output in html format.

[2022-06-28 16:39] yeisonvargasf commented on #356
Hi! I'm sorry for the late on this thread.

Right now, there is a Safety version `2.0b5` on PyPi.

This version includes support for running Python directly in your code; here there is a small example:

[code]

I will close this feature request; if you find issues, file a new issue in this repository. Thanks!

[2022-06-28 16:39] #356 closed

[2022-06-28 16:40] yeisonvargasf commented on #388
It would be nice to have this feature; probably it will be added in Safety 2.1

[2022-06-28 16:43] yeisonvargasf commented on #368
Thanks, @MichalVasut! please update to the latest beta to solve this issue: [2.0b5](https://pypi.org/project/safety/2.0b5/)

[2022-06-28 16:54] yeisonvargasf commented on #367
Hi @kasium, in the new Safety 2.0, we start to support a new policy file called: `.safety-policy.yml`

I recommend you use the latest beta version, [Safety 2.0b5](https://pypi.org/project/safety/2.0b5/)

Despite the cache setting isn't supported in the file yet, you can start to ignore vulnerabilities and manage the exit code behavior.

You can generate a valid `.safety-policy.yml` with the follow

[2022-06-28 16:54] #367 closed

[2022-06-28 16:57] yeisonvargasf commented on #363
New Safety version 2.0 supports better exit code handling; please use the last beta version [2.0b5](https://pypi.org/project/safety/2.0b5/)

[2022-06-28 16:57] #363 closed

[2022-06-28 17:02] yeisonvargasf commented on #357
Hi @cedric-orange, the dockerfile has been updated. On the other hand, a new Github action will be published soon, and there is the new Safety 2.0 version; you can take a look at the latest beta [2.0b5](https://pypi.org/project/safety/2.0b5/)

[2022-06-28 17:02] #357 closed

[2022-06-28 19:11] turribeach commented on #356
Thanks, I will give this a go. Quick question, what site do the rules get downloaded from? I will need to open up our internel internet proxy for that...

[2022-06-28 19:12] turribeach commented on #356
Also is there any way to get the requirements.txt' from the current virtual environment safety is running on without passing the requirements.txt to it?

[2022-06-29 06:43] joosbuijsNL commented on #356
We have developed the following function which does not check requirements.txt but all available/installed packages in the current environment, and even quits the application when issues are found.

Use at your own risk.

Any code improvements/suggestions are welcome.

`def safety_check(abort=True):
    """
    Performs a safety check on all packages in this Python environment.
    Input parameter

[2022-06-29 08:28] PerchunPak opened #389 "Outdated changelog"
* safety version: https://github.com/pyupio/safety/commit/7ac646120b6f5668341140404d41a43e0e400064

### Description

There is `2.0.0` and `2.0b5` on PyPi, but not in changelog. So does `2.0.0` stable? What breaking changes was made? What really changed comparing to `1.x`?

[2022-06-29 08:51] PerchunPak commented on #389
Found actual changelog in `python3.10/site-packages/safety-2.0.0.dist-info/METADATA`.
https://pastebin.com/pPEN12sj

[2022-06-29 08:55] #389 closed

[2022-06-29 15:50] pzelnip opened #390 "Is 2.0 out or not?"
### Description

I have safety as a dependency tracked by pyup on this repo: https://github.com/pzelnip/depwatch/pull/459

Today it opened a PR saying to upgrade safety to 2.0.

2.0 appears to be released on Pypi: https://pypi.org/project/safety/2.0.0/

2.0 does not appear to be released looking at the release history: https://pyup.io/changelogs/safety/ or https://github.com/pyupio/safety/releases

[2022-07-01 19:49] hans2520 opened #391 "Safety `--disable-telemetry` option does not appear to disable telemetry"
* safety version: 2.0.0
* Python version: 3.6
* Operating System: ubuntu 18

### Description

Safety `--disable-telemetry` option does not appear to disable telemetry

### What I Did

We can see below safety is attempting to reach out to `https://pyup.io/aws/safety/free/insecure.json?telemetry=%7B%22safety_version%22%3A+%222.0.0%22%7D` despite  `--disable-telemetry` flag passed in.

[code]

[2022-07-01 21:00] hans2520 commented on #391
@Jwomers I kind of figured. When your param is named "telemetry" -- even though you need that info, it just _seems_ like it's not working. That's the other thing you might want to look into changing rather than the flag name, is the the json param so that it's something like "config" or "config_info", etc. You'll know what makes most sense!

[2022-07-18 10:06] mladendin opened #396 "Gitlab step issue with the new release"
* safety version: 2.1.0
* Python version: 3.8
* Operating System: Gitlab

### Description
It seems like there is an issue with the new release. This is how my Gitlab CI looks like which prior to the latest version(2.1.) was working just fine.

[code]
For some reason, I'm getting this error message now:
[code]

[2022-07-18 10:49] arseru commented on #396
I can confirm that the same error happens in Bitbucket CI. Downgrading safety to v2.0.0 fixes the issue temporarily for me.

[2022-07-18 11:47] cb22 commented on #396
Safety 2.1.1 is out and published with this fix!

[2022-07-18 11:47] #396 closed

[2022-07-18 11:49] mladendin commented on #396
Thank you for the quick reaction, guys.

[2022-09-01 12:12] okuuva opened #400 "safety depends on vulnerable dparse version"
* safety version: latest
* Python version: 3.9
* Operating System: Linux

### Description

Today our CI job running safety warned us about a new known vulnerability:

[code]

Did some digging and turns out it's safety that pins the version to >=0.5.1. With a quick search in this repo it still seems to be affecting `develop` branch. Didn't check if it's really relevant but it's a bit awkward for su

[2022-09-03 10:13] pawamoy opened #401 "Used as dependency?"
In the changelog of release 2.0, you say:

What does this mean exactly?

[2022-09-09 12:16] jlaine opened #402 "Documentation for GitHub action seems out of date"
The documentation currently states that the GitHub action can be used with:

[code]

However this leads to the following error:

[code]

AFAICT the documentation should be updated with

[code]

See:
- https://docs.pyup.io/docs/github-actions-safety
- https://github.com/marketplace/actions/pyupio-safety

[2022-09-11 14:26] chowmean commented on #388
@yeisonvargasf what is the status of this? Is someone working on it? I want to contribute to this if there is a possibility. Thanks!

[2022-09-11 14:33] chowmean commented on #314
@yeisonvargasf is this something that is in the road map. I think it can be helpful. Would like to contribute to this if this is in plan. Thanks!

[2022-09-12 14:28] yeisonvargasf commented on #401
Hi @pawamoy,

In the beginning, PyUp created Safety to be only a CLI tool, but a group of users was using Safety as a dependency in their code; importing Safety in your code wasn't officially supported then.

In Safety >=2.0, we ensured that users could use Safety directly in the code. So now we keep CLI commands and the internal API following SEMVER.

If you have more questions, please create a n

[2022-09-12 14:28] #401 closed

[2022-09-12 14:30] pawamoy commented on #401
That answers my question, thank you 🙂

[2022-09-12 14:36] yeisonvargasf commented on #388
Hi @chowmean, It's in the roadmap, but there are other reports and features with higher priority; we are looking for more integration with other platforms, so the team is putting all the effort into those and other relevant features.

It would be great if you could send a PR for this feature (Thanks!); I'll review it and allow merging it in a quicker way possible.

[2022-09-12 14:43] yeisonvargasf commented on #390
Hi @pzelnip,

2.0 was planned, but the changelog page has a bug, and we will fix it soon.

The most recent version is 2.1.1.

[2022-09-12 14:43] #390 closed

[2022-09-13 06:21] chowmean commented on #388
sure, please assign this to me.

[2022-09-19 18:32] yeisonvargasf commented on #346
Thanks for the report @sobolevn; `Safety >= 2.0.0` fixes this issue.

[2022-09-19 18:32] #346 closed

[2022-09-24 20:38] yeisonvargasf commented on #400
Thanks for the report @okuuva! The new release of Safety updates that dependency. Also, note that the dparse vulnerability doesn't affect Safety because Safety doesn't use the affected function; however, another external dependency might be using the affected version of Dparse, so the recommendation is to update to the latest Safety version.

[2022-09-24 20:38] #400 closed

[2022-09-28 21:04] stevecj opened #408 "Output includes ANSI escape sequences when inappropriate"
* safety version: 2.2.0
* Python version: 3.9.6
* Operating System: Linux: CentOS 7

### Description

Printing full report output in a CI test run prints ANSI codes, even though the environment does not indicate that ANSI color is appropriate. I also tried piping the output through `less`, and commands should, by default, not include ANSI codes in output when piped (stdout is not a terminal). I tr

[2022-09-28 23:17] stevecj commented on #408
I finally realized that I could get a list of options for the `check` subcommand with `safety check --help` and was able to figure out by trial and error that `--output text` will eliminate the ansi codes from the output. It would still be nice if `safety` would automatically not include those in cases where commandline apps are supposed to know not to do that.

[2022-09-29 13:20] v01dXYZ opened #409 "Regression: Do not parse `cve` if `cve == None`"
* safety version: 2.2.0
* Python version: 3.8
* Operating System: Linux - Ubuntu 18.04.1 (docker image: python:3.8)

### Description

The database file contains entries with the `cve` field equals to `null`. Contrary to `1.10.3` which only parses the field if it is neither `None` or `""`, the version `2.2.0` assumes it is always a string.

### What I Did

[code]

[code]

[2022-09-29 15:43] yeisonvargasf commented on #402
Thanks for reporting this, @jlaine. We updated the documentation.

[2022-09-29 15:43] #402 closed

[2022-09-29 22:23] yeisonvargasf commented on #409
Hi @v01dXYZ, thanks for reporting this issue; we appreciate your report.

I want to explain that now (Safety 2.0+), all the vulnerabilities have a link to a CVE ID (or a PVE ID), so this issue is a bug coming from the bot's free and open-source database process and upload.

Therefore we are working on finding and fixing the issue that exported those null CVEs; also, we have added handling for "Non

[2022-09-29 22:23] #409 closed

[2022-09-29 22:56] yeisonvargasf commented on #408
Hi @stevecj, we are sorry for your bad experience with the ANSI color and the documentation. We have tried to link our documentation in all the possible places; maybe we may add the docs link in Safety CI too.

You can find all the available outputs in the docs portal: https://docs.pyup.io/docs/safety-20-configuration-outputs.

We updated the docs portal to include the No Styling option. Safety re

[2022-10-03 13:56] figchutney opened #413 "`safety` requires `crypography>=39.0.0` which hasn't been released yet"
* safety version: `1.10.3`
* Python version: `3.10.2`
* Operating System: `MacOS 11.7`

### Description

Hello 👋

`safety` currently requires [`cryptography>=39.0.0`](https://pypi.org/project/cryptography/) for its checks to pass (see screenshot), citing the below reason, with ID `51159`:

However, [it looks like](https://cryptography.io/en/latest/changelog/) version `39.0.0` of `cryptography` is

[2022-10-03 14:03] alex commented on #413
Hi, I'm one of the pyca/cryptography primary maintainers.

This isn't a security issue in pyca/cryptography in the first instance. It's removing support for interoperating with older LibresSSL versions. To a certain extent using old unsupported libressl is a security issue, but that's fixed by upgrading libressl, not by upgrading cryptography.

I'd strongly encourage the safety maintainers to cons

[2022-10-03 16:37] yeisonvargasf commented on #413
Hi @figchutney and @alex, thanks for reporting this, and let me explain:

Safety identified that minor versions than 39.0.0 support the C library "LibreSSL" < 3.4, vulnerable to CVE-2021-41581.

This vulnerability is transitive, so it doesn't mean that `pyca/cryptography` has the vulnerability itself; this probably is a misunderstanding because many users are using an old Safety version where the

[2022-10-03 16:43] alex commented on #413
This is a very confusing way of handling transitive vulnerabilities. pyca/cryptography does not ship with LibreSSL in any form. Using a cryptography<39 does not mean you're using LibreSSL<3.4, in fact almost no cryptography users do (except those on OpenBSD).

[2022-10-03 17:19] reaperhulk commented on #413
(I am another pyca/cryptography developer) It appears that this was added as a vulnerability due to a future backwards incompatible version drop we have chosen to do in pyca/cryptography. The outcome of this has been multiple issues filed as well as mailing list traffic asking us when we’re going to remediate an issue that is not an issue.

We very much like having people upgrade to the latest ver

[2022-10-03 19:08] #413 closed

[2022-10-04 08:44] figchutney commented on #413
Thanks everyone 👌🙏

[2022-10-06 09:55] ar0ne opened #416 "Unhandled exception happened"
* safety version: 2.3.1
* Python version: 3.7
* Operating System: Linux archlinux 5.18.16-arch1-1

### Description

Got this when decided to upgrade from safety:1.10.3. Any ideas why it happens?

### What I Did

[code]

[2022-10-06 12:41] ar0ne commented on #416
Good catch! Thanks!

[2022-10-06 12:41] #416 closed

[2022-10-10 09:32] rbarrois opened #417 "safety action version 2.0.0 is broken"
* safety version: 2.0.0
* Python version: N/A
* Operating System: Github Actions

### Description

We run the pyupio/safety Github Action as described here: https://docs.pyup.io/docs/github-actions-safety#step-3-configure-your-github-workflow-yaml-file-to-run-safety-scans

That action relies on the [*latest* docker version from safety](https://github.com/pyupio/safety/blob/40fb27ab528d8a62fdb91999

[2022-10-10 23:11] yeisonvargasf commented on #417
Hi @rbarrois, thank you for the detailed report!

You are right; I updated the image with a fix to handle the old versions of the GitHub action.

I implemented regression tests, so we can monitor if new features will break the old versions of the GitHub action.

I communicated this to our internal team.

Working on this too, it's in the roadmap.

This issue should be fixed, please let me know if a

[2022-10-12 18:50] yeisonvargasf commented on #337
Thanks, @hett39, This feature is available in the latest Safety version.

[2022-10-12 18:50] #337 closed

[2022-10-12 18:58] yeisonvargasf commented on #183
Hi @normoes and @wadevries, the latest Safety version added support for standard error codes. You can find the code and its meaning in the README: https://github.com/pyupio/safety#using-safety-with-a-ci-service

[2022-10-12 18:58] #183 closed

[2022-10-14 19:04] yeisonvargasf commented on #417
@rbarrois, I'm closing this; feel free to open a new one if you find something still isn't working fine.

Thank you for the issue report!

[2022-10-14 19:04] #417 closed

[2022-11-03 11:03] NikolaKikovski opened #421 "safety requires py > 1.11.0 which hasn't been released yet"
* safety version: `2.3.1`
* Python version: `3.10.8`
* Operating System: `macOS 13.0`

### Description
`safety` currently requires [py > 1.11.0](https://pypi.org/project/py/) for its checks to pass (see screenshot) with ID 51457:
<img width="638" alt="изображение" src="https://user-images.githubusercontent.com/42459611/199703500-ce2a74ec-4e01-4fac-9a36-b2b277722008.png">

but `py` has no newer ver

[2022-11-03 12:47] yeisonvargasf commented on #421
Hi @NikolaKikovski,

That image isn't the default UI in Safety `2.3.1`. Could you attach a screenshot with the output of the following command:  `safety --version`

Related to the vulnerability, you should report that in the repo for the database: https://github.com/pyupio/safety-db/issues. @SCH227 can help you there.

[2022-11-09 22:27] Peterl777 opened #422 "ResourceWarning (unclosed socket) in safety v.2.3.1"
* safety version: v2.3.1
* Python version: v3.11.0
* Operating System: Win 10 Home 22H2 19045.2251

### Description

When I run `safety check`, the program runs normally. At the end of the run, Python emits the error:
```sys:1: ResourceWarning: unclosed <ssl.SSLSocket fd=704, family=23, type=1, proto=0, laddr=('2001:8003:2c1c:8a0<snip>', 54722, 0, 0), > raddr=('2600:9000:<snip>', 443, 0, 0)>```

I

[2022-11-14 17:05] yeisonvargasf commented on #253
I'm closing this because Safety 2.0 improved the JSON structure with more information and added remediations for API Keys users.

Thanks to you all for the ideas to improve our JSON report.

[2022-11-14 17:05] #253 closed

[2022-11-14 21:22] chris-bradley opened #423 "Bare output includes extra line in non-screen output with no vulnerabilities"
* safety version: 2.3.1
* Python version: 3.6 and later
* Operating System: Linux

### Description

When running `safety` with `--output bare` in an environment with no vulnerabilities in a non-screen environment (eg. within a cron task or piping to a file), a single line is output:
`+==============================================================================+`
When used as a cron task, this ca

[2022-11-15 11:24] filonik commented on #306
Just wanted to echo the desire to support variadic options. My use case also involves using shell globs/wildcards within options. I think the `OptionEatAll` solution on StackOverflow gets the expected behavior right:

https://stackoverflow.com/questions/48391777/nargs-equivalent-for-options-in-click

Although this is a workable solution, but it would be nice to have it supported in the library dir

[2022-11-19 16:41] yeisonvargasf commented on #423
@chris-bradley, as a workaround, you should be able to redirect `stderr`. Let me know if that helps.

[2022-11-19 20:53] yeisonvargasf commented on #408
I'm closing this issue because the latest Safety version supports the `SAFETY_COLOR` var. Trying to detect when using the style or text automatically will need another issue and more details.

[2022-11-19 20:53] #408 closed

[2022-11-19 20:56] yeisonvargasf commented on #421
Feel free to open a new issue with more detailed information.

[2022-11-19 20:56] #421 closed

[2022-11-19 23:07] #342 closed

[2022-11-21 20:05] #423 closed

[2022-11-26 19:25] Peterl777 commented on #422
Thanks @yeisonvargasf !

[2022-11-28 04:25] yeisonvargasf commented on #336
@bagerard we are open to accepting PRs!

[2022-11-28 15:52] ValueRaider commented on #320
Can this be resolved as a matter of high urgency? The vast vast majority of Python packages use those different ways, commonly `>=`. But `safety` cannot handle that, so useless.

E.g., take this example requirements.txt:

lxml 4.5.1 contains a vulnerability but is not flagged by `safety`. Only flagged if `>=` replaced with `==`

[2022-11-28 15:57] yeisonvargasf commented on #320
Hi @ValueRaider, there is a work in progress related to this; the following minor Safety versions will be able to handle this.